<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
<?php
print <<<EOT
-->
<head>
<title>会员中心 </title>
<link rel="stylesheet" type="text/css" href="images/blue/css.css">
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<body>
<div class="Toper">
	<div class="Infos">
		欢迎你回来:<span>$lfjid</span> $MSG
        <a href="$webdb[_www_url]/member/homepage.php?uid=$lfjuid">个人信息</a>
        <a href="$webdb[_www_url]/member/index.php?main=userinfo.php?job=edit">修改资料</a>
    	<a href="$webdb[www_url]/do/login.php?action=quit" class="quit">安全退出</a> 
    </div>
</div>
<div class="Navers">
	<div class="Logo"><A HREF="?"><img src="./images/blue/logo.gif"/></A></div>
    <form method="post" action="$webdb[www_url]/search.php?action=search" target="_blank" onSubmit="return juge(this)">
	<div class="Search">
    	<div class="keyword"><input type="text" name="keyword" value="请输入搜索关键字" onClick="this.value=''"/></div>
		<div class="sub"><input type="submit" value="站内搜索"/></div>
		<input type="hidden" name="postdb[city_id]" value="$city_id"/>
	</div>
	</form>
<script type="text/javascript">
function juge(theForm){
	if (theForm.keyword.value == ""){
		alert("请输入搜索关键字！");
		theForm.keyword.focus();
		return (false);
	}
}
</script>
</div>
<ul class="MainMenu">
	<li class="ck"><span><a href="$webdb[www_url]/">网站主页</a></span></li>
	<li><span><a href="$webdb[www_url]/hy/">黄页</a></span></li>
<!--
EOT;
$Fid_db = include(ROOT_PATH."data/all_fid.php");
$i=0;
foreach($Fid_db[0] AS $key=>$name){
$i++;if($i>6)break;
print <<<EOT
-->
	<li><span><a href="$webdb[www_url]/list.php?fid=$key">$name</a></span></li> 
<!--
EOT;
}print <<<EOT
-->	
    <li><span><a href="$webdb[www_url]/post.php" style="color:red;">免费发布</a></span></li>
    
</ul>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="MainCont">
  <tr>
    <td class="Menus">
        <p>
			<span class="showall">全部展开</span>
        	<span class="hideall">全部收缩</span>
        </p>
<!--
EOT;
foreach($menudb AS $SortName=>$array){
print<<<EOT
-->
        <dl> 
           <dt>$SortName</dt>
           <dd>
<!--
EOT;
foreach($array AS $MenuName=>$array2){
if($power<$array2[power])continue;
if($array2[target]){
$target=$array2[target];
}elseif(ereg("^../",$array2[link])){
$target='_blank';
}else{
$target='win';
}
print<<<EOT
-->
          <div><a href='$array2[link]' target='$target'>$MenuName</a></div>
<!--
EOT;
}print<<<EOT
-->			</dd>
        </dl>
<!--
EOT;
}print<<<EOT
--> 
    </td>
    <td class="Iframe"><iframe width="100%" height="600" id="win" name="win" frameborder="0" scrolling="no" src="$MainUrl"></iframe></td>
  </tr>
</table>
<div class="CopyRight">
<!--
EOT;
$webdb[copyright] = $webdb[copyright] ? "<div>$webdb[copyright]</div>":"";
print<<<EOT
--> 
	<center>
</center>
</div>
<SCRIPT language=javascript>
<!--
$(function(){
	$(".Menus dl dt").click(function(){
		$(this).parent("dl").toggleClass("hidden");
	});
	$(".showall").click(function(){
		$(".Menus dl").removeClass("hidden");
	});
	$(".hideall").click(function(){
		$(".Menus dl").addClass("hidden");
	});
});
//-->
</script>
</body>
</html>
<!--
EOT;
?>
-->