<!DOCTYPE html>
<html>
<!--<?php
print <<<EOT
-->
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="qibosoft">
<meta name="format-detection" content="telephone=no">
<link href="$Murl/images/style.css" rel="stylesheet" type="text/css">
<title>$WebTitle</title>
</head>
<body>
<div class="header">
	<div class="logo"><a href="$Murl"><img src="$Murl/images/logo.gif"/></a></div>
    <div class="city">{$city_DB[name][$city_id]}</div>
    <div class="change"><a href="$Murl/allcity.php">切换城市</a></div>
</div>
<!--
EOT;
?>
-->

