<!DOCTYPE html>
<html>
<!--
<?php
print <<<EOT
-->
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="qibosoft">
<meta name="format-detection" content="telephone=no">
<link href="$Murl/images/style.css" rel="stylesheet" type="text/css">
<title>操作提示－$WebTitle</title>
</head>
<body>
<div class="header">
	<div class="logo"><a href="$Murl"><img src="$Murl/images/logo.gif"/></a></div>
</div>
<div class="AllCityCont">
	<h3>操作提示</h3>
    <div style="text-align:center;padding:20px 0 20px 0;">$notes</div>
    <div class="return"><a href="javascript:;history.go(-1);">返回</a>
</div>
<!--
EOT;
?>
-->