<!--
<?php
print <<<EOT
-->
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
<form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">

  <tr class="head"> 
    <td colspan="2">数据库导入,如果数据量大，网速不快的时候，浏览器会造成假死状态，请要耐心等待！！</td>
  </tr>
  <tr bgcolor='#FFFFFF'> 
    <td width='51%'>请选择要导入的数据库,其中的日期是年月日时分秒：</td>
    <td width='49%'>$selectname</td>
  </tr>
  <tr bgcolor='#FFFFFF'> 
    <td width='51%'> 
      <div align='right'></div>
    </td>
    <td width='49%'> 
      <input class=mmcinb type='submit' name='Submit' value='导入数据'>
    </td>
  </tr>
  <tr bgcolor='#FFFFFF'> 
    <td colspan='2'> 
        <div align='center'><font color="#FF0000"><b>方法二:</b>你也可以在地址栏目手工输入备份的目录:比如sql文件所在目录的访问地址为http://qibosoft.com/cache/mysql_bak/2007-03-11.nql/<br>
          此时,请运行http://qibosoft.com/cache/mysql_bak/2007-03-11.nql/index.php还原 <font color="#0000FF">(强烈推荐)</font> 
          </font></div>
    </td>
  </tr></form>
</table>
<!--
EOT;
?>
-->