<!--
<?php
print <<<EOT
-->
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job" >
    <tr class="head"> 
      <td colspan='2' > 
        <div align='center'><b><font color="#FFFFFF">把其他系统{$webdb[passport_type]}的用户数据导进当前整站系统</font></b></div>
      </td>
    </tr>
    <tr> 
      <td bgcolor='#FFFFFF' colspan="2">1.此操作可以把其他系统{$webdb[passport_type]}的用户数据导进当前整站系统.<br>
        2.此操作<font color="#FF0000">会先清空当前整站的所有用户数据</font>，再开始导入其他系统的用户数据。</td>
    </tr>
    <tr> 
      <td width='14%' bgcolor='#FFFFFF'>&nbsp;</td>
      <td bgcolor='#FFFFFF'> 
        <input  class=mmcinb  type='submit' name='w' value='点击开始'>
      </td>
    </tr>
  </form>
</table>
<br>
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
 
    <tr class="head"> 
    <td>帮助说明:</td>
  </tr>
  
  <tr>
    <td>如果整合其他系统后,造成不能登录后台。或者取消整合其他系统后,造成不能登录后台的解决办法如下:<br>
      1.在整站前台新注册一个用户。<br>
      2.通过FTP软件，修改空间上的文件admin/global.php查找“<font color="#FF0000">\$ForceEnter=0</font>”替换成“<font color="#0000FF">\$ForceEnter=1;</font>”通过这样就能强制进入后台了,当然,你平时密码忘记了,也可以通过这个办法进入后台.然后你就选择&quot;用户/权限管理&quot;-&gt;&quot;用户成员管理&quot;,找到你新注册的用户名,设置他为管理员即可.再把“<font color="#0000FF">\$ForceEnter=1</font>”还原为“<font color="#0000FF">\$ForceEnter=0</font>”否则的话,任何人都能进你的后台.<br>
      <br>
      如果你不小心而误操作的话，请修改文件data/config.php在最后一行添加这句话(即是取消整合系统):<font color="#0000FF">\$webdb['passport_type']='';</font></td>
  </tr>
</table> 
<!--
EOT;
?>
-->