<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth"  style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
  <form name="form_work" method="post" action="index.php?lfj=$lfj&action=set">
    <tr class="head"> 
      <td colspan="2" align="center">邮箱资料配置</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="21%">邮件发送模式:</td>
      <td align="left" width="79%"> <a href="index.php?lfj=$lfj&action=delete_admin_logs&iddb[{$rs[id]}]=1"></a> 
        <input type="radio" name="webdbs[MailType]" value="mail" $MailType[mail]>
        mail 函数发送 
        <input type="radio" name="webdbs[MailType]" value="smtp" $MailType[smtp]>
        SMTP 模块发送(常用)</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="21%">SMTP 服务器: </td>
      <td align="left" width="79%"> 
        <input type="text" name="webdbs[MailServer]" value="$webdb[MailServer]">
        如:smtp.qq.com smtp.163.com</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="21%">SMTP 端口,一般是25</td>
      <td align="left" width="79%"> 
        <input type="text" name="webdbs[MailPort]" size="4" value="$webdb[MailPort]">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="21%">邮箱帐号:</td>
      <td align="left" width="79%"> 
        <input type="text" name="webdbs[MailId]" value="$webdb[MailId]">
        如:test@qq.com</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="21%">邮箱密码:</td>
      <td align="left" width="79%"> 
        <input type="password" name="webdbs[MailPw]" value="$webdb[MailPw]">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="21%">&nbsp;</td>
      <td align="left" width="79%"> 
        <input type="submit" name="Submit" value="提交">
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
