<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth"  style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
  <form name="form_work" method="post" action="index.php?lfj=$lfj&action=test">
    <tr class="head"> 
      <td width="13%" align="center">&nbsp;</td>
      <td width="87%" align="center">发送站内短消息</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">会员帐号:<br>
        (多个帐号,每个换一行) </td>
      <td align="left" width="87%">
        <textarea name="Usrdb" cols="40" rows="5"></textarea>
        (提示:你可以把一批会员帐号每个换一行粘贴到这里群发) </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">短消息标题: </td>
      <td align="left" width="87%">
        <input type="text" name="Title" size="90">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">短消息内容:</td>
      <td align="left" width="87%"> 
        <textarea name="Content" cols="90" rows="15"></textarea>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">&nbsp;</td>
      <td align="left" width="87%"> 
        <input type="submit" name="Submit" value="提交">
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
