/*
*头部
*/
body{background:url(bg.gif) left top repeat-x;/*background-attachment: fixed;*/}
.toptable{background:url(hbg.gif) center 1px no-repeat;}
.toptable .logo{padding:20px 0 0 10px;width:50%;}
.toptable .minfo{text-align:right;color:#FFFFFF;height:83px;}
.toptable .minfo span{display:block;padding-top:3px;}
.toptable .minfo .inline{width:160px;border-bottom:#83A8D5 solid 1px;margin:0 0 auto auto;font-weight:bold;padding:20px 0 3px 0;text-align:center;margin-bottom:3px;}
.toptable .minfo .hottel{font-weight:bold;}

.homepage_top .menu{background:url(mbg.gif) center top no-repeat;height:35px;padding-left:20px;}
.homepage_top .menu a{ display:block;height:30px;float:left;font-size:14px;font-weight:bold;padding:5px 15px 0 16px;line-height:30px;color:#FFFFFF;background:url(array.gif) left 3px no-repeat;}
.homepage_top .menu .begin{background:none;}
.homepage_top .menu a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.homepage_top .menu a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
.homepage_top .menu a:hover {
	text-decoration: underline;
	color: yellow;
}
.homepage_top .menu a:active {
	text-decoration: none;
}

.guide{line-height:35px;background:url(guide.gif) center top no-repeat;color:#153F7B;padding-left:15px;}
.guide a{color:#153F7B;}

.homepage_top .banner{ background:url(banner.gif) no-repeat;height:213px; text-align:center;line-height:120px;font-size:28px;font-weight:bold;color:#FFFFFF;text-align:left;padding-left:420px;}
/*.homepage_top .banner span{ display:none;}*/





/**
主体部分框架
**/
.homepage{ margin-top:10px;}

.homepage_left{ width:200px; text-align:left;}
.homepage_right{ padding-left:10px; text-align:left;}

/**
主体左边部分
**/
.leftinfo{ margin-bottom:10px; list-style:none;background:url(lbg.gif) center top no-repeat;}
.leftinfo .foot{ background:url(lbg.gif) center bottom no-repeat;height:5px;}
.leftinfo .head{font-weight:bold;font-size:14px;padding:8px 0 15px 10px;}
.leftinfo .head .L{ float:left; }
.leftinfo .head .T{ float:left; }
.leftinfo .head .R{ float:left; }
.leftinfo .head .more{ float:right;}
.leftinfo .logo{ border:3px #CCCCCC solid;}
.leftinfo .content{padding:8px;line-height:150%;background:url(lbgm.gif) center top repeat-y;}
.leftinfo .content li{list-style:none; list-style-position:outside;background:url(array1.gif) left 5px no-repeat;padding-left:10px;}
/*
*商家档案 突出显示
*/
.leftinfo .base{background:url(basebg.gif) center bottom no-repeat;}
.basetable{background:url(wbg.gif) center top no-repeat;}
.basetable .foot{ background:url(wbg.gif) center bottom no-repeat;}
.baseinfo span{
	display:block;
	padding-left:10px;
	margin-bottom:5px;
}
/**
主体右边部分
**/
.rightinfo{ clear:both;margin-bottom:10px; list-style:none;background:url(rbg.gif) center top no-repeat;}
.rightinfo .head{ padding:10px 8px 8px 25px; font-weight:bold;font-size:14px;}
.rightinfo .head .L{ float:left; }
.rightinfo .head .T{ float:left; color:#FFFFFF;}
.rightinfo .head .T a{ font-size:14px;color:#FFFFFF;}
.rightinfo .head .R{ float:left; }
.rightinfo .head .more{ float:right; font-weight:100; }
.rightinfo .content{padding:8px;line-height:150%;background:url(rbgm.gif) center top repeat-y;}
/*.rightinfo .foot,.rightinfo .foot_td{height:5px;background:url(rbg.gif) center bottom no-repeat;}*/
.rightinfo .content .show_windows{ float:left; width:130px; height:180px; margin:10px; text-align:center;}
.rightinfo .content {padding:8px;line-height:150%;border-bottom:#A0D3FF solid 1px;}
.rightinfo .content .visitor{ float:left; width:200px; height:20px; margin:2px; text-align:left; line-height:20px;}
.rightinfo .content .page{}
.rightinfo .content .user{color:#1E50A2;}
.rightinfo .content .msg{border-bottom:#CCC dotted 1px;margin-bottom:10px;margin-top:5px;height:35px;}
.rightinfo .content .msg .time{float:left;color:#8BA4CD;}
.rightinfo .content .msg .del{float:right;color:red;}
.rightinfo .content .msg .del a{color:red;}
.hr_list td{ clear:both;border-bottom:1px #CCCCCC dotted; padding:5px;}


/*
列表
*/
.show_windows .t{ height:55px}

.rightinfo .content .show_windows{ float:left; width:130px; height:180px; margin:10px; text-align:center;}
.rightinfo .content .contacts{
	background:url(contacts.gif) center top no-repeat;
	height:220px;
	text-align:center;
	padding-top:70px;
	color:#90C345;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
}
.rightinfo .content .contacts .bold{
	font-size:18px;
	color:#3BB615;
}
.listuser{
	width:150px;
	height:70px;
	overflow:hidden;
	float:left;
	margin-bottom:5px;
}
.listuser .img img{
	width:65px;
	height:65px;
	border:#fff solid 1px;
}
.listuser .img a{
	width:67px;
	height:67px;
	border:#DCDCDC solid 1px;
	display:block;
}
.listuser span{
	display:block;
	line-height:25px;
	padding-left:5px;
	color:#8BA4CD;
}
.listuser span a{
	color:#1E50A2;
}
