<!--
<?php
$rsdb[price] || $rsdb[price]='';
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="75%" height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG"><a editurl='$city_url/job.php?job=doinfo&fid=$fid&id=$id&atc=do'>TOP</a></span> 
			<span class="more postbt"><a href="$city_url/post.php?fid=$fid&city_id=$city_id&zone_id=$zone_id&street_id=$street_id">免费登记店铺</a></span>
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <div class="baseinfo"> 
              <div id="show_title"> <span class="L">$rsdb[title]</span> <span class="R"> 
                <a href="$city_url/post.php?fid=$fid&city_id=$city_id&zone_id=$zone_id&street_id=$street_id">免费登记店铺</a> 
                <!--
EOT;
if(($lfjuid&&$lfjuid==$rsdb[uid])||$web_admin){
print <<<EOT
-->
                &nbsp;<a href="$city_url/post.php?job=edit&fid=$fid&id=$id">修改</a>&nbsp;<a href="$city_url/post.php?action=del&fid=$fid&id=$id">删除</a> 
                <!--
EOT;
}print <<<EOT
-->
                </span> </div>
              <div id="baseinfo">发布时间:{$rsdb[posttime]}　有效日期：{$rsdb[showday]}　浏览量：{$rsdb[hits]}次</div>
              <div class="showinfo">地区：{$rsdb[showarea]}<br>
			  店铺地址：{$rsdb[address]}<br>
                <!--{template}--><span>{title}:</span>{value}<br><!--{/template}--> 标签：$rsdb[keywords]<br>
                附注：$rsdb[content]</div>
              <div class="moreinfo">联系人：{$rsdb[username]} 
                <!--
EOT;
if($rsdb[uid]){
print <<<EOT
-->
                <a href="$webdb[www_url]/member/?main=pm.php?job=send&username=$rsdb[username]" target="_blank"><img src="$webdb[www_url]/images/default/ww_offline.gif" border="0"></a> 
                <!--
EOT;
}print <<<EOT
-->
                <br>
                电话号码:$rsdb[telephone]<br>
                手机号码:$rsdb[mobphone]<br>
                QQ　号码:$rsdb[oicq]<br>
                MSN 帐号:$rsdb[msn]<br>
                邮箱帐号:$rsdb[email]<br>
                IP归属地:{$rsdb[ipfrom]} <a href="$city_url/job.php?job=ip&ip=$rsdb[ipaddress]" target="_blank">查询更多</a></div>
            </div>
            <div class="infopic">
		<a class="pic" href="$city_url/job.php?job=show_img&fid=$fid&id=$id" target="_blank"><img src='$rsdb[picurl]' onerror="this.src='$webdb[www_url]/images/default/nopic.jpg'" border="0"></a> 
<div><a href="$city_url/job.php?job=show_img&fid=$fid&id=$id" target="_blank"><img src="$webdb[www_url]/images/default/img_ico.gif" border="0">{$rsdb[picnum]}图</a> 
                <a href="$city_url/job.php?job=post_img&fid=$fid&id=$id" target="_blank"><img src="$webdb[www_url]/images/default/upfile.gif" border="0">上传</a></div>
            </div>
            <div style="clear:both;"></div>
			
<!--
EOT;
if(count($picdb)>1){print <<<EOT
-->		
<div id="movepic" style="border:3px solid #ccc;margin-top:15px;margin-bottom:15px;width:700px;"><div id="divmov" style="overflow:hidden;width:100%;color:#ffffff;">
<table align="left" cellpadding="0" cellspace="0" border="0"><tr>
<td id="divmov_img" valign="top">
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
<!--
EOT;
foreach($picdb AS $key=>$rs){print <<<EOT
-->
	<td style="padding:2px;text-align:center;"><a href="$rs[imgurl]" target="_blank"><img src="$rs[picurl]" width="134" height="95" alt="$rs[name]" border="0" /></a><br>
      <a href="$rs[imgurl]" target="_blank">$rs[name]</a></td>
<!--
EOT;
}print <<<EOT
-->
  </tr>
</table>
</td>
<td id="divmov_copy" valign="top"></td>
</tr></table>
</div>
<!--
EOT;
if(count($picdb)>5){print <<<EOT
-->	
<script>
var speed=8; //speed
document.getElementById('divmov_copy').innerHTML = document.getElementById('divmov_img').innerHTML;
function Marquee() {
if(document.getElementById('divmov_copy').offsetWidth - document.getElementById('divmov').scrollLeft<=0) {
document.getElementById('divmov').scrollLeft -= document.getElementById('divmov_img').offsetWidth;
} else {
document.getElementById('divmov').scrollLeft++;
}
}
var MyMar = setInterval(Marquee, speed);
document.getElementById('divmov').onmouseover = function() {
clearInterval(MyMar);
}
document.getElementById('divmov').onmouseout = function() {
MyMar=setInterval(Marquee, speed);
}
</script>
<!--
EOT;
}print <<<EOT
--></div>
<!--
EOT;
}print <<<EOT
-->
			
            <div class="imgbutton"> 
              <div style="width:680px;float:left"> <a href="$city_url/job.php?job=report&fid=$fid&id=$id" target="_blank"><img src="$webdb[www_url]/images/default/report.gif" border="0"></a> 
                <a href="#"><img onclick="document.getElementById('sendmsg').style.display='';" src="$webdb[www_url]/images/default/send.gif" border="0"></a> 
                <a href="$city_url/job.php?job=collect&id=$id" target="_blank"><img src="$webdb[www_url]/images/default/favor.gif" border="0"></a> 
              </div>
              <div id="sendmsg" style="border:1px solid #ccc;padding:5px;background:#eee;width:98%;display:none;"><!--
EOT;
if($lfjdb&&!$webdb[propagandize_close]){print <<<EOT
-->
您复制本条信息给它人访问,将有机会获得至少{$webdb[propagandize_Money]}{$webdb[MoneyDW]}{$webdb[MoneyName]}的奖励。
<!--
EOT;
}else{print <<<EOT
-->	
下面是这条信息的访问地址，您可以拷贝通过MSN、QQ、电子邮件发送给您的朋友。
<!--
EOT;
}print <<<EOT
-->
						</br>
                        <input type="text" size="50" value="$city_url/bencandy.php?propagandize_uid=$lfjuid&city_id=$rsdb[city_id]&fid=$rsdb[fid]&id=$rsdb[id]" id="msgurl">
                <input type="button" name="Submit2" value="复制" onClick="JM_cc('msgurl');alert('网址成功，你可以通过QQ或MSN发给你的好友！')">
                <SCRIPT LANGUAGE="JavaScript">
<!--
function JM_cc(ob){
var obj=document.getElementById(ob); if (obj) { 
obj.select();js=obj.createTextRange();js.execCommand("Copy");}
}
//-->
</SCRIPT>
              </div>
            </div>
            <!--
EOT;
if($foods){
print <<<EOT
-->
            <div class="wyfood">
              <div>网友推荐:</div>
              $foods </div>
            <!--
EOT;
}print <<<EOT
-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="wydianping">
              <tr> 
                <td class="a">网友点评({$rsdb[comments]}条)</td>
              </tr>
              <tr> 
                <td class="b">排序：最新点评</td>
              </tr>
              <tr> 
                <td class="c">
                  <div id="comment"></div>
                </td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;' class="base_table">
              <tr> 
                <td class="h">添加点评</td>
              </tr>
              <tr> 
                <td class="m">                   
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                     
                    <!--
EOT;
if($lfjid){$none='none';}
print <<<EOT
--><tr style="display:$none;">
					  <td width="16%"><span class="L">称　　呼:</span><span class="R"></span></td><td width="84%"><span class="R"> 
                        <input type="text" name="textfield2" id="comment_username" value="$lfjid">
                        </span></td>
                    </tr>
                    
					  
                   
                    <tr> 
                      <td width="10%"><span class="L">点　　评:</span><span class="R"></span></td>
                      <td width="90%"><span class="R"> {$fen1} {$fen2} {$fen3} 
                        {$fen4} </span></td>
                    </tr>
                    
                    <!--
EOT;
if($webdb[Info_GroupCommentYzImg]&&in_array($groupdb['gid'],explode(",",$webdb[Info_GroupCommentYzImg]))){
$webdb[yzImgComment]=1;
print <<<EOT
-->
                    <tr> 
                      <td width="16%"><span class="L">验 证 码:</span></td>
                      <td width="84%"> 
                        <input id="yzImgNum" type="text" name="yzimg" size="8" onFocus="commentyzimg()">
						<SCRIPT LANGUAGE="JavaScript">
<!--
function commentyzimg(){
	if(/yzimg\.php/.test($("#yz_Img")[0].src)==false){
		$("#yz_Img").show();
		$("#yz_Img")[0].src='$webdb[www_url]/do/yzimg.php?'+Math.random();
	}
	
}

document.write('<img border="0" id="yz_Img" name="imageField" onclick="this.src=this.src+Math.random();" src="" style="display:none;">');
//-->
</SCRIPT>
                         
                      </td>
                    </tr>
                    <!--
EOT;
}
print <<<EOT
-->
                    <tr> 
                      <td width="16%"><span class="L">内　　容:</span></td>
                      <td width="84%"><span class="R"> 
                        <textarea name="textfield" cols="70" rows="8" id="comment_content" onKeyDown="quickpost(event)"></textarea>
                        </span></td>
                    </tr>
<!--
EOT;
if($fendb[fen5][set]&&$fendb[fen5][name]){
print <<<EOT
-->
                    <tr> 
                      <td width="10%"><span class="L">{$fendb[fen5][name]}:</span><span class="R"></span></td>
                      <td width="90%"><span class="R"> 
                        <!--
EOT;
$detail=explode("\r\n",$fendb[fen5][set]);
foreach($detail AS $key=>$value){
$d=explode("=",$value);
print <<<EOT
-->
                        <input type="radio" name="fen5" value="$d[0]" style="border:0px;">
                        $d[1] 
                        <!-- 
EOT;
}
print <<<EOT
-->
                        </span></td>
                    </tr>
<!-- 
EOT;
}
print <<<EOT
-->
                    <tr> 
                      <td width="16%">人均消费:</td>
                      <td width="84%"> 
                        <input type="text" name="textfield4" size="5" id="c_price">
                        元/人 </td>
                    </tr>
                    
                        <!--
EOT;
if($fendb[fen6][set]&&$fendb[fen6][name]){
print <<<EOT
-->
					<tr>
                      <td width="16%"><span class="L">{$fendb[fen6][name]}</span>:</td>
                      <td width="84%"> <span class="R">
                        <!--
EOT;
$detail=explode("\r\n",$fendb[fen6][set]);
foreach($detail AS $key=>$value){
print <<<EOT
-->
                        <input type="checkbox" name="fen6" value="$value" style="border:0px;">
                        $value 
                        <!-- 
EOT;
}
print <<<EOT
-->
                        </span>
</td>
                    </tr>
<!-- 
EOT;
}
print <<<EOT
-->      

					
                   <tr> 
                      <td width="16%"> 
                        <script language="JavaScript">
<!--

getcomment("$city_url/job.php?job=dianping_ajax&fid=$fid&id=$id");
cnt = 0;
function quickpost(event)
{
	if((event.ctrlKey && event.keyCode == 13)||(event.altKey && event.keyCode == 83))
	{
		cnt++;
		if (cnt==1){
			post_comment();
		}else{
			alert('内容正在提交...');
		}
	}	
}

function post_comment(){
	value='';
	fen6_v=',';
	if(document.getElementById("fen1")!=null){
		value="&fen1="+document.getElementById("fen1").options[document.getElementById("fen1").selectedIndex].value;
		value+="&fen2="+document.getElementById("fen2").options[document.getElementById("fen2").selectedIndex].value;
		value+="&fen3="+document.getElementById("fen3").options[document.getElementById("fen3").selectedIndex].value;
		value+="&fen4="+document.getElementById("fen4").options[document.getElementById("fen4").selectedIndex].value;
		oo=document.body.getElementsByTagName('input');
		for(var i=0;i<oo.length;i++){
			if(oo[i].name=='fen5'){
				if(oo[i].checked==true){
					value+="&fen5="+oo[i].value;
				}
			}else if(oo[i].name=='fen6'){
				if(oo[i].checked==true){
					fen6_v+=oo[i].value+',';
				}
			}
		}
	}
	value+="&c_price="+document.getElementById("c_price").value;
	//value+="&c_keywords="+document.getElementById("c_keywords").value;
	if(document.getElementById("c_keywords2")!=null){
		//value+="&c_keywords2="+document.getElementById("c_keywords2").value;
	}
	postcomment('$city_url/job.php?job=dianping_ajax&action=post&fid=$fid&id=$id'+value+"&fen6="+fen6_v,'$webdb[yzImgComment]');
	
	if(document.getElementById("yz_Img")!=null){
		$("#yz_Img")[0].src='';
		$("#yz_Img").hide();
	}
	

}
//-->
</script>
                      </td>
                      <td width="84%"><span class="R"> 
                        <input type="button" id="comment_submit" name="Submit" value="提交" onClick="post_comment();">
                        </span></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
    <td width="25%" height="393" valign="top" class="Side" align="right"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">发布人信息</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" valign="top" align="left"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="36%"><a href="$webdb[www_url]/member/homepage.php?uid=$rsdb[uid]"  onclick="if($rsdb[uid]==0)return false;"><img src="$userdb[icon]" onerror="this.src='$webdb[www_url]/images/default/noface.gif'" width="80" height="80" border="0"></a></td>
                <td width="64%" align="left" valign="top"><a href="$city_url/job.php?job=userinfo&uid=$rsdb[uid]"  onclick="if($rsdb[uid]==0)return false;"><b><font color="#000099">$userdb[username] 
                  </font></b></a><br>
                  注册:$userdb[regdate]<br>
                  离线:$userdb[lastvist]<br>
                  级别:$userdb[level]<br>

<!--
EOT;
if($userdb[grouptype]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/member/images/company_icon.gif" alt="企业会员"> 
            <!--
EOT;
}
print <<<EOT
-->
            <!--
EOT;
if($userdb[idcard_yz]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/idcard_1.gif" alt="身份认证会员"> 
            <!--
EOT;
}else{
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/idcard_0.gif" alt="身份还未认证"> 
            <!--
EOT;
}
print <<<EOT
-->
            <!--
EOT;
if($userdb[email_yz]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/email_1.gif" alt="邮箱认证会员"> 
            <!--
EOT;
}else{
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/email_0.gif" alt="邮箱还未认证"> 
            <!--
EOT;
}
print <<<EOT
-->
            <!--
EOT;
if($userdb[mob_yz]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/mob_1.gif" alt="手机认证会员"> 
            <!--
EOT;
}else{
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/mob_0.gif" alt="手机还未认证"> 
            <!--
EOT;
}
print <<<EOT
-->
</td>
              </tr>
              <tr> 
                <td colspan="2" style="line-height:28px;"><a href="$city_url/job.php?job=userinfo&uid=$rsdb[uid]" onclick="if($rsdb[uid]==0)return false;" target="_blank">查看该用户发布的所有信息</a></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table><!--
EOT;
if($rsdb[maps]){
print <<<EOT
-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">地图位置</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
                     <!--
EOT;
if($webdb[if_GGmap]){print <<<EOT
-->
            <iframe src="$webdb[www_url]/job.php?job=show_ggmaps&position=$rsdb[maps]&title=$rsdb[title]"  width="100%" height="400" scrolling="no" frameborder="0" ></iframe>
            <!--
EOT;
}else{
$detail=explode(",",$rsdb[maps]);
print <<<EOT
-->
            <script language="javascript" src="http://api.51ditu.com/js/maps.js"></script>
            <div id="maps" style="position:relative; width:230px; height:300px; border:black solid 1px;"> 
              <div align="center" style="margin:12px;"><a href="http://api.51ditu.com/docs/mapsapi/help.html" target="_blank" style="color:#D01E14;font-weight:bolder;font-size:12px;">看不到地图请点这里</a></div>
            </div>
            <script language="javascript">
	var maps = new LTMaps( "maps" );
	var c = new LTSmallMapControl();
	maps.addControl(c);
	var point = new LTPoint( $detail[0] , $detail[1] );
	maps.centerAndZoom ( point , 2 );
	var marker = new LTMarker( point );
	maps.addOverLay( marker );
	var text = new LTMapText( marker );
	text.setLabel( "目标所在位置" ); 
	maps.addOverLay( text ); 
</script>
            <!--
EOT;
} 
print <<<EOT
-->          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <!--
EOT;
}
print <<<EOT
-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">栏目焦点</span> 
            <h3 class="R"></h3>
            <span class="more" style="float:right;"><a href="javascript:alert('栏目头条显示要花费{$webdb[AdInfoSortShow]}个积分,显示 {$webdb[AdInfoShowTime]} 天。要想设置显示或取消显示某条信息的话,请进行修改即有相关选项.');">帮助</a></span> 
          </td>
        </tr>
        <tr> 
          <td class="middle" valign="top" align="left"> 
            <SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="side_adinfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=adinfo&fid=$fid&rows=$webdb[AdInfoListRow]&leng=$webdb[InfoListLeng]&iframeID=side_adinfo" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">热门店铺</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="side_hotinfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=hotinfo&fid=$fid&rows=$webdb[AdInfoListRow]&leng=$webdb[InfoListLeng]&iframeID=side_hotinfo" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">推荐店铺</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <script language="JavaScript">
<!--
document.write('<span id="side_cominfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=cominfo&fid=$fid&rows=$webdb[AdInfoListRow]&leng=$webdb[InfoListLeng]&iframeID=side_cominfo" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
