<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="100%" height="393" valign="top" class="Main"> 
       
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">发表图片</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle">
            <table width="99%" border="0" cellspacing="1" cellpadding="3" id="bigtable">
              <form name="form8" id="form8" method="post" action="?job=$job&act=edit" enctype="multipart/form-data">
                <tr> 
                  <td width="18%">图片地址:<br>
                    你可以一次上传多张<br>
                    增加 
                    <input type="text" size="3" name=nums value="2">
                    项 
                    <input type="button" name="Submit2" value="增加" onClick=showinput()>
                  </td>
                  <td width="82%"> 
                    <SCRIPT LANGUAGE="JavaScript">
<!--
function choosef(i,t){
	if(t=='out'){
		document.getElementById("out_url"+i).style.display='';
		document.getElementById("in_url"+i).style.display='none';
	}else{
		document.getElementById("out_url"+i).style.display='none';
		document.getElementById("in_url"+i).style.display='';
	}
}
//-->
</SCRIPT>
                    <!--
EOT;
$detail=explode(",",$webdb[group_UpPhoto].',3,4');
if($webdb[group_UpPhoto]&&!in_array($groupdb['gid'],$detail))$none='none;';
$i=0;
foreach($listdb AS $key=>$rs){
$i++;
print <<<EOT
-->
                    图片标题: 
                    <input type="text" name="titledb[$i]" size="10" value="$rs[name]">
                    图片地址: 
                    <input type="text" name="photodb[$i]" size="30" id="out_url$i" value="$rs[imgurl]">
                    <input type="file" name="local_file$i" id="in_url$i" style="display:none;">
                    <input type="radio" name="ftype[$i]" value="out" checked onclick="choosef($i,'out')">
                    网络文件 <a style="display:$none;"> 
                    <input type="radio" name="ftype[$i]" value="in" onclick="choosef($i,'in')">
                    本地文件 </a> 
                    <input type="hidden" name="piddb[$i]" value="$key">
                    <br>
                    <!--
EOT;
}print <<<EOT
-->
                    <div id="input"></div>
                    <script>
totalnum=$i;
function showinput(){
	var str=input.innerHTML;
	var num=2;
	num=document.form8.nums.value;
	for(var i=1;i<=num;i++){
		totalnum=totalnum+i;
		str+='图片标题:<input type="text" name="titledb['+totalnum+']" size="10"> 图片地址: <input type="text" name=photodb['+totalnum+'] size="30" id="out_url'+totalnum+'"> <input type="file" name="local_file'+totalnum+'" id="in_url'+totalnum+'" style="display:none;"> <input type="radio" name="ftype['+totalnum+']" value="out" checked onclick="choosef('+totalnum+',\'out\')">网络文件 <a style="display:$none;"><input type="radio" name="ftype['+totalnum+']" value="in" onclick="choosef('+totalnum+',\'in\')">本地文件</a><br>';
	}
	input.innerHTML=str;
} 
</script>
                  </td>
                </tr>
                <tr> 
                  <td width="18%" rowspan="2">&nbsp;</td>
                  <td width="82%"> 
                    <input type="button" name="Submit3" value="返回" onclick="window.location.href='bencandy.php?city_id=$city_id&zone_id=$zone_id&street_id=$street_id&fid=$fid&id=$id'">
                    　　 
                    <input type="submit" name="Submit" value="提 交" class='submit'>
                    <input type="hidden" name="id" value="$id">
                    <input type="hidden" name="fid" value="$fid">
                  </td>
                </tr>
                <tr>
                  <td width="82%"><font color="#FF0000">提示:</font>要删除哪张图片,把图片地址清空即可</td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
