<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic">
        <form name="form1" method="post" action="?action=send">
          <tr> 
            <td class="head"> 
              <h3 class="L"></h3>
              <span class="TAG">取回密码</span> 
              <h3 class="R"></h3>
            </td>
          </tr>
          <tr> 
            <td class="middle" align="center"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td align="center" height="62">请输入你的用户名 
                    <input type="text" name="atc_username">
                    <input type="submit" name="Submit" value="提交"  class="button">
                  </td>
                </tr>
                <tr>
                  <td align="left">提示:新密码会自动发送到你的个人资料所设置的邮箱!</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td class="foot"> 
              <h3 class="L"></h3>
              <h3 class="R"></h3>
            </td>
          </tr>
        </form>
      </table>
      
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
