<!--
<?php
print <<<EOT
-->
<table border="0" cellspacing="1" cellpadding="3" width="100%" class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
    <tr align="center"> 
      <td colspan="2" class="head">栏目修改</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="40%">栏目名称:</td>
      <td width="60%"> 
        <input type="text" name="postdb[name]" value="$rsdb[name]">
      </td>
    </tr>
    <tr align="center"> 
      <td colspan="2" bgcolor="#FFFFFF"> 
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="fid" value="$fid">
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
