<!--
<?php
print <<<EOT
-->
<table width="794" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head">
            城市资料
          </td>
        </tr>
        <tr> 
          <td class="middle"> 

 
            <table width="100%" border="0" cellspacing="5" cellpadding="5">
              <form name="form1" method="post" action="?job=edit&" enctype="multipart/form-data" onsubmit="return ckregdatapost();">
                <tr> 
                  <td height="25"> 
                    <table width="100%" border="0" cellspacing="1" cellpadding="6">
                      <tr> 
                        <td colspan="2" style="border-bottom:1px solid #ccc;background:#eee;line-height:21px;">城市首页SEO优化设置</td>
                      </tr>
                      <tr> 
                        <td width="28%">标题(title)</td>
                        <td width="72%"> 
                          <input type="text" name="postdb[descrip]" value="$cityDB[descrip]" size="50">
                        </td>
                      </tr>
                      <tr> 
                        <td width="28%">关键字(keywords)</td>
                        <td width="72%"> 
                          <input type="text" name="postdb[metakeywords]" value="$cityDB[metakeywords]" size="50">
                        </td>
                      </tr>
                      <tr> 
                        <td width="28%">描述(description)</td>
                        <td width="72%"> 
                          <input type="text" name="postdb[metadescription]" value="$cityDB[metadescription]" size="50">
                        </td>
                      </tr>
                      <tr> 
                        <td colspan="2"> </td>
                      </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td align="center"> 
                          <input type="submit" name="Submit3" value="提 交">
                          <input type="hidden" name="step" value="2">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </form>
            </table>
 
          </td>
        </tr>
        <tr>
          <td class="foot">
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
