<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
<?php
print <<<EOT
-->
<head>
<title>城市管理操作平台</title>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/city_admin/images/style.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="">
<meta name="description" content="">
<style>
BODY{
margin-left: 0px;
}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0">
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/default.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
function get_obj(obj){
   return document.getElementById(obj);
}
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<div class="wrap" id="wrapID">');
//-->
</SCRIPT><!--
EOT;
if($linkdb){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" id="guide">
  <tr>
    <td>
<!--
EOT;
foreach($linkdb AS $name=>$url){
$blank=strstr($url,'http://')?'_blank':'_self';
print <<<EOT
-->
	[<a href="$url" target="$blank" style="color:$color;">$name</a>] 
<!--
EOT;
}
print <<<EOT
-->
</td>
  </tr>
</table>
<!--
EOT;
}
print <<<EOT
-->
<!--
EOT;
?>
-->