<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
<?php
if($webdb[SystemType]&&!function_exists('get_info_url')){
@include(ROOT_PATH."$webdb[SystemType]/global.php");
}
if($webdb[SystemType]){
$webdb[Info_guide_word]=$webdb[guide_word];
}
$GuideFid[$fid]=str_replace("<a href='$webdb[www_url]' class='guide_menu'>&gt;首页</a>","",$GuideFid[$fid]);
$bodyondblclick = (function_exists('label_array')&&$web_admin&&!$MakeIndex) ?"dblclick_label();":"";
print <<<EOT
-->
<head>
<title>$titleDB[title]                           </title>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/default/default.css">
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/$STYLE/style.css">
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/default/cms.css">
<LINK id=themecss rev=stylesheet href="$webdb[www_url]/images/$STYLE/theme1.css" type=text/css rel=stylesheet>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="$titleDB[keywords]">
<meta name="description" content="$titleDB[description]"> 
</head>
<SCRIPT LANGUAGE="JavaScript">
<!--//导航菜单
function killErr(){
	return true;
}
window.onerror=killErr;
//-->
</SCRIPT>
<!--
EOT;
if($webdb[cookieDomain]){print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
//解决不同域名的框架跨域问题
document.domain = "$webdb[cookieDomain]";
</SCRIPT>
<!--
EOT;
}print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/default.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/swfobject.js"></SCRIPT>
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" ondblclick="$bodyondblclick">
<div class="maindiv" id="topdiv">
	<div class="left">
		<span class="title">{$city_DB[name][$city_id]}</span>
<!--
EOT;
if(count($city_DB[name])>1){
print <<<EOT
-->
		<span class="change">[<a href="$webdb[www_url]/allcity.php">切换城市</a>]</span>
<!--
EOT;
}print <<<EOT
-->
    </div>
    <div class="right">
<script language="JavaScript"> 
<!---
today=new Date();
var hours = today.getHours();
var minutes = today.getMinutes();
var seconds = today.getSeconds();
var timeValue = ((hours >12) ? hours -12 :hours); timeValue += ((minutes < 10) ? ":0" : ":") + minutes;
timeValue += (hours >= 12) ? " 下午 " : " 上午 ";
function initArray(){
this.length=initArray.arguments.length
for(var i=0;i<this.length;i++)
this[i+1]=initArray.arguments[i]  }
var d=new initArray("<font color=RED>星期日</font>","星期一","星期二","星期三","星期四","星期五","<font color=red>星期六</font>"); document.write(today.getYear(),"年",today.getMonth()+1,"月",today.getDate(),"日 ",d[today.getDay()+1]," ",timeValue);  //-->
</script>
<a class=top onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('$webdb[www_url]');" href="#">设为首页</a>
<a class=top   href="javascript:window.external.AddFavorite('$webdb[www_url]','$webdb[webname]')">加入收藏</a>	
    </div>
</div>
<div class="maindiv" id="Logindiv">
	<div class="logo"><A HREF="{$city_url}/"><img src="$webdb[www_url]/images/default/logo.gif" border=0></A></div>
    <div class="slogan">
    	xxxxxxxxxxxx<br/>
        <span>xxxxxxxxxxxx</span>
    </div>
<!--
EOT;
if($lfjid){print <<<EOT
-->
    <div class="login_tpl login_a">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td> 
    	<div class="reg">
        欢迎你回来:<a style="color:#FF0000;">$lfjid</a>
        </div>
      	<div class="reg">
        <a href="$webdb[www_url]/member/homepage.php?uid=$lfjuid" target="_blank">个人信息</a>
        <a href="$webdb[www_url]/member/" target="_blank">会员中心</a>
        <a href="$webdb[www_url]/member/index.php?main=userinfo.php?job=edit" target="_blank">修改资料</a> 
      	<a href="$webdb[www_url]/do/login.php?action=quit">安全退出</a>
        </div>
        </td>
      </tr>
    </table>
    </div>
<!--
EOT;
}else{print <<<EOT
-->
    <div class="login_tpl">
    	<div class="reg">
        <a href="$webdb[www_url]/do/reg.php"><b>注册</b></a>  | <a href="$webdb[www_url]/do/login.php"><b>登录</b></a> | <a href="$webdb[www_url]/do/sendpwd.php">找回密码</a>
        </div>
      <form name="form_login" method="post" action="$webdb[www_url]/do/login.php">
      	<div class="login">
        	<span class="L_name">用户名：</span>
            <span class="login_name"><input type="text" name="username"></span>
            <span class="L_pwd">密码：</span>
            <span class="login_pwd"><input type="password" name="password"></span>
          	<span class="L_sub"><input type="submit" name="Submit" value="登录" ></span>
            <span class="L_reset"><input type="reset" name="button" value="取消" /></span>
        </div>
         <input type="hidden" name="step" value="2">
         <input class="radio" type="hidden" name="cookietime" value="86400" >            
      </form>
    </div>
<!--
EOT;
}print <<<EOT
-->
</div>
<div class=wrapper>
<div class="maindiv" id=nav>
    <div class=nav_zone>
        <ul>
<!--
EOT;
if(!$webdb[Info_guide_word]){
$fup=$Fid_db[$fid]?$fid:$fidDB[fup];
$ck_class=$fup?"":"current";
if($choose_class['hy']){
unset($ck_class);
$choose_class['hy']="class=\"current\"";
$_array=@include(ROOT_PATH.'data/all_fid.php');
$array=$_array[0];
}else $array=$Fid_db[0];
print <<<EOT
-->
		<li class="$ck_class"><a href="$webdb[www_url]/">网站主页</a></li>
		<li {$choose_class[hy]}><a href="$webdb[www_url]/hy/">黄页</a></li>
<!--
EOT;
$i=0;
foreach($array AS $key=>$name){
$i++;if($i>6)break;
$url=get_info_url('',$key,$city_id);
$ck_class=$key==$fup?"current":"";
if($choose_class['hy']){unset($ck_class);$choose_class['hy']="class=\"ck\"";}
print <<<EOT
-->
    	<li class="$ck_class"><a href="$url">{$name}</a></li>
<!--
EOT;
}}else{
$i=0;
$detail=explode("\r\n",$webdb[Info_guide_word]);
foreach($detail AS $key=>$value){
$i++;
if($i<2)
$menu = "current";
else
$menu = "";
if(!$value)continue;
list($name,$url,$blank,$color,$lid)=explode("|",$value);
if(ereg("^\/",$url)){
	$url="$webdb[www_url]$url";
}elseif(ereg("^list\.php",$url)){
	$_detail=explode("fid=",$url);
	$url=get_info_url('',$_detail[1],$city_id);
}elseif($url=='index.php'){
	$url="$city_url/";
}elseif(!ereg("://",$url)){
	$url="$webdb[www_url]/$url";
}
print <<<EOT
-->
          <li class="$menu"><a href="$url">{$name}</a></li>
<!--
EOT;
}}print <<<EOT
-->
          <li style="float:right;width:130px;padding-right:5px;padding-top:2px;"><a href="$city_url/post.php"><img src="$webdb[www_url]/images/163k/postinfo.gif" /></a></li>
        </ul>
    </div>
	<DIV class="search_box clearfix">
    	<div class="search">
<SCRIPT LANGUAGE="JavaScript">
<!--
function cksearch(){
	form=document.form_headsearch; 
	if(form.fid.value=='0'){
		alert("请选择一个栏目!!");
		return false;		
	}
	if(form.keyword.value==''){
		alert("关键字不能为空!!");
		return false;		
	}
	
}
//-->
</SCRIPT>
		  
          <form name="form_headsearch" method="GET" action="$city_url/search.php" target="_blank" onsubmit="return cksearch();">
        	<div class="fidword">所属栏目: </div>
            <div class="fidselect">{$search_fid_select}</div>
            <div class="keyword">关 键 字:  </div>
            <div class="keyinput"><input type="text" name="keyword" value="$keyword"></div>
            <div class="submit">
              <input type="image" name="imageField" id="imageField" src="$webdb[www_url]/images/163k/searchsub.gif" />
              <input type="hidden" name="action" value="search"></div>
            <div class="hightsearch"><a href="$city_url/search.php" target="_blank">高级搜索</a></div>
           </form>
        </div>
        <DIV class=changeColor_bd>
            <DIV class=hd>配置您偏爱的颜色：</DIV>
            <UL class="theme clearfix" id=themelist>
              <LI class=current id=theme1><A title=橙色 href="#">橙色</A> </LI>
              <LI id=theme2><A title=红色 href="#">红色</A></LI>
              <LI id=theme3><A title=紫色 href="#">紫色</A></LI>
              <LI id=theme4><A title=蓝色 href="#">蓝色</A></LI>
              <LI id=theme5><A title=褐色 href="#">褐色</A></LI>
              <LI id=theme6><A title=绿色 href="#">绿色</A></LI>
            </UL>
        </DIV>
    </DIV>
</DIV>
<SCRIPT>
var Theme = {
	cookieName: "themeIndexTom",
	themeList: null,
	init: function(){
		Theme.themeList = document.getElementById('themelist');
		var list = Theme.themeList.getElementsByTagName('a');
		oThis = this;
		for( var i = 0; i < list.length; i++ ){
			(function(){
				var index = i + 1;
				list[index - 1].onclick = function(){
					oThis.setCss(index);
					oThis.setCurrent(index);
					oThis.setCookie(Theme.cookieName, index);
					return false;
				};
			})();
		}
		
		var cookieIndex = this.getCookie(this.cookieName);
		if(cookieIndex == null){
			this.setCookie(this.cookieName, 1);	
			Theme.setCss(1);
		}else{
			Theme.setCss(cookieIndex);
			Theme.setCurrent(cookieIndex);
		}
	},
	
	setCurrent: function(index){
		var list = Theme.themeList.getElementsByTagName('li');
		for( var i = 0; i < list.length; i++ ){
			if(index == i + 1)
				list[i].className = 'current';
			else
				list[i].className = '';
		}
	},
	
	setCss: function(index){
		document.getElementById('themecss').href = "$webdb[www_url]/images/163k/theme" + index + ".css";
	},
	
	getCookie: function(name){
		var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
     	if(arr != null) return unescape(arr[2]); return null;
	},

	setCookie: function	(name,value)
	{   
		  var Days = 30; //此 cookie 将被保存 30 天
		  var exp  = new Date();    //new Date("December 31, 9998");
		  exp.setTime(exp.getTime() + Days*24*60*60*1000);
		  document.cookie = name + "="+ escape(value) +";expires="+ exp.toGMTString()+";path=/" ;
	}   
}

Theme.init();
</SCRIPT>
</div>
     
<!--
EOT;
if($GuideFid[$_GET[fid]]){
print <<<EOT
-->   
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="nav_guide" align="center">
  <tr> 
          
    <td>当前位置：<a href="$city_url/">首页</a> {$GuideFid[$_GET[fid]]} </td>
        </tr>
      </table>
	   <!--
EOT;
}
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('<div class="wrap">');
//-->
</SCRIPT>
<!--
EOT;
?>
-->