html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}