#wdsPhoto {
	BORDER-RIGHT: #ccc 1px solid; 
	BORDER-TOP: #ccc 1px solid; 
	MARGIN: 10px auto; 
	BORDER-LEFT: #ccc 1px solid; 
	WIDTH: 640px; 
	BORDER-BOTTOM: #ccc 1px solid; 
	POSITION: relative
}
#wdsPhoto .top {
	MARGIN: 5px; 
	OVERFLOW: hidden;
	WIDTH: 630px; 
	POSITION: relative; 
	HEIGHT: 90px
}
#wdsPhoto .top DIV {
	DISPLAY: block; 
	FLOAT: left; 
	OVERFLOW: hidden; 
	HEIGHT: 90px
}
#wdsPhoto .top A {
	DISPLAY: block; 
	FLOAT: left; 
	OVERFLOW: hidden; 
	HEIGHT: 90px
}
#wdsPhoto .top .prev{
	BACKGROUND: url(button1.gif); 
	WIDTH: 20px;
}
#wdsPhoto .top .thum {
	MARGIN: 0px 5px; 
	OVERFLOW: hidden; 
	WIDTH: 580px;
}
#wdsPhoto .top .thum DIV A {
	BORDER-RIGHT: #ccc 2px solid; 
	BORDER-TOP: #ccc 2px solid; FILTER: alpha(opacity=50); 
	BORDER-LEFT: #ccc 2px solid; 
	WIDTH: 115px; 
	MARGIN-RIGHT: 8px; 
	BORDER-BOTTOM: #ccc 2px solid; 
	HEIGHT: 86px; 
	TEXT-ALIGN: center; moz-opacity: 0.5; opacity: 0.5; khtml-opacity: 0.5;
}
#wdsPhoto .top .thum DIV A:hover {
	FILTER: alpha(opacity=100); moz-opacity: 1; opacity: 1; khtml-opacity: 1
}
#wdsPhoto .top .thum DIV A.current {
	BORDER-RIGHT: #666 2px solid; 
	BORDER-TOP: #666 2px solid; FILTER: alpha(opacity=100); 
	BORDER-LEFT: #666 2px solid; 
	BORDER-BOTTOM: #666 2px solid; moz-opacity: 1; opacity: 1; khtml-opacity: 1;
}
#wdsPhoto .top .thum DIV A IMG {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
}
#wdsPhoto .top .next {
	BACKGROUND: url(button2.gif); 
	WIDTH: 20px;
}
#wdsPhoto .top .next:hover {
	BACKGROUND-POSITION: 20px 0px;
}
#wdsPhoto .main {
	BORDER-RIGHT: #ccc 1px solid; 
	BORDER-TOP: #ccc 1px solid; 
	BACKGROUND: url(loading.gif) no-repeat 299px 284px; 
	MARGIN: 4px; OVERFLOW: hidden; 
	BORDER-LEFT: #ccc 1px solid; 
	WIDTH: 630px; 
	BORDER-BOTTOM: #ccc 1px solid; 
	POSITION: relative; 
	HEIGHT: 600px;
}
#wdsPhoto .main IMG {
	POSITION: absolute;
}
#wdsPhoto .main DIV {
	POSITION: absolute;
}
