.rollpicobj{
	FONT-SIZE: 12px;
	margin: 0px;
	padding: 0px;  
	OVERFLOW: hidden;
	TEXT-ALIGN: center;
}
.rollpicTB a,.rollpicTB a:visited{
	color:#333;
	TEXT-DECORATION: none;
}
.rollpicTB a:hover{
	text-decoration: underline;
}
.rollpicobj img{
	margin-bottom: 5px;
	width: 100%;
	border: #707070 1px solid;
}
.rollpicobj p{
	LINE-HEIGHT: 1em;
	LIST-STYLE-TYPE: none;
	padding: 0px; 
	padding-bottom: 5px; 
	margin: 0px auto; 
	width: 99%; 
	border: #ccc 0px solid;
	background-color: #F6F6F6;
}
.pager {
	padding-right: 5px; 
	Z-INDEX: 99; 
	margin-bottom: -12px; 
	bottom: 45px; 
	POSITION: relative; 
	TEXT-ALIGN: right;
}
.pager a{
	border: 1px solid #ccc; 
	padding-right: 5px; 
	padding-left: 5px;
	margin-right: 3px;
	background-color: white;
}
.pager a.activeSlide {
	font-weight: bold; 
	border: 1px solid #646464; 
	padding: 1px 5px 1px 5px; 
	background: #E1ECFB;
}








/*************х┌Х■оо************/

.p8rollpic UL,.p8rollpic LI{
	LIST-STYLE-TYPE: none;
	padding:0px;margin:0px;
}
.p8rollpic A:hover {
	TEXT-DECORATION: underline;
}
.p8rollpic A IMG {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
}
.slideshow LI {
	OVERFLOW: hidden; 
	POSITION: relative;
}
.slideshow SPAN.title {
	FONT-SIZE: 14px; 
	BACKGROUND: #000; 
	FILTER: alpha(opacity=50); 
	LEFT: 0px; 
	MARGIN-BOTTOM: 0px; 
	OVERFLOW: hidden; 
	WIDTH: 100%; COLOR: #fff! important; 
	BOTTOM: 0px; 
	TEXT-INDENT: 10px;
	LINE-HEIGHT: 32px; 
	POSITION: absolute; 
	HEIGHT: 32px; opacity: 0.5;
}
.slidebar {
	LEFT: 4px; 
	POSITION: absolute; 
	TOP: 5px
}
.slidebar LI {
	FONT-SIZE: 10px; 
	BACKGROUND: #000; 
	FILTER: alpha(opacity=50); 
	FLOAT: left; 
	OVERFLOW: hidden;
	WIDTH: 20px; 
	CURSOR: pointer; 
	COLOR: #fff; 
	LINE-HEIGHT: 20px; 
	MARGIN-RIGHT: 1px; 
	HEIGHT: 20px; 
	TEXT-ALIGN: center; opacity: 0.5;
}
.slidebar LI.on {
	FONT-WEIGHT: 700; 
	BACKGROUND: #fff; FILTER: alpha(opacity=80); 
	COLOR: #000; opacity: 0.8;
}