<!--
<?php
print <<<EOT
-->
<table id="top_menu" width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <tr bgcolor='#FFFFFF'> 
    <td bgcolor="#FFFFFF"> 
      <div align="center">
        <input type="button" name="Submit22" value="添加友情链接" onclick="window.location=('index.php?lfj=friendlink&job=add')">
        　　 　　 
        <input type="button" name="Submit23" value="友情链接管理" onclick="window.location=('index.php?lfj=friendlink&job=list')">
        　　 　　 
        <input type="button" name="Submit233" value="分类管理" onClick="window.location=('index.php?lfj=friendlink_sort&job=list')">
        　　 　　 
        <input type="button" name="Submit222" value="添加分类" onClick="window.location=('index.php?lfj=friendlink_sort&job=add')">
      </div>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
