<!--
<?php
print <<<EOT
--> 
<div class="MainCont">
	<div class="head">
    	<div class="tag">
    		[<a href="company.php?job=view&uid=$lfjuid">查看企业资料</a>]
<!--
EOT;
if($lfjuid==$uid||!$uid){
print <<<EOT
-->
		   [<a href="company.php?job=edit">修改企业资料</a>] 
<!--
EOT;
}print <<<EOT
-->
		</div>
	</div>
    <div class="cont">
<!--
EOT;
if($job=='edit'){
print <<<EOT
-->
		<form name="form1" method="post" action="?job=edit&" enctype="multipart/form-data">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
          <tr>
            <th colspan="2">
<!--
EOT;
if($lfjdb[grouptype]==1){print <<<EOT
-->
                 注意:<span class="red">你已经是企业用户,请务必保证以下资料属实,否则有可能被取消企业用户资格.</span> 
<!--
EOT;
}elseif($lfjdb[grouptype]==-1){print <<<EOT
-->
                 注意:<span class="blue">你还没成为正式企业用户,你的资料正在审核过程中,请务必保证以下资料属实,才能顺利通过审核.</span> 
<!--
EOT;
}else{print <<<EOT
-->
                 注意:你要想申请成为企业用户,请务必认真填写以下企业信息!! 
<!--
EOT;
}print <<<EOT
-->
            </th>
          </tr>
          <tr>
            <td class="tdL" style="width:180px;">你的帐号:</td>
            <td class="tdR">$lfjid</td>
          </tr>
          <tr>
            <td class="tdL">企业名称:(<span class="red">*</span>)</td>
            <td class="tdR"><input type="text" name="cpname" style="width:130px;" value="$cpDB[cpname]"></td>
          </tr>
          <tr>
            <td class="tdL">企业性质:(<span class="red">*</span>)</td>
            <td class="tdR">
            	<SELECT name="cptype">
                    <OPTION value="">请选择企业性质</OPTION>
                    <OPTION value="个体工商户" {$cptype['个体工商户']}>个体工商户</OPTION>
                    <OPTION value="私营独资企业" {$cptype['私营独资企业']}>私营独资企业</OPTION>
                    <OPTION value="私营合伙企业" {$cptype['私营合伙企业']}>私营合伙企业</OPTION>
                    <OPTION value="私营有限责任公司" {$cptype['私营有限责任公司']}>私营有限责任公司</OPTION>
                    <OPTION value="私营股份有限公司" {$cptype['私营股份有限公司']}>私营股份有限公司</OPTION>
                    <OPTION value="国有企业" {$cptype['国有企业']}>国有企业</OPTION>
                    <OPTION value="集体企业" {$cptype['集体企业']}>集体企业</OPTION>
                    <OPTION value="股份合作企业" {$cptype['股份合作企业']}>股份合作企业</OPTION>
                    <OPTION value="联营企业" {$cptype['联营企业']}>联营企业</OPTION>
                    <OPTION value="国有独资公司" {$cptype['国有独资公司']}>国有独资公司</OPTION>
                    <OPTION value="其他有限责任公司" {$cptype['其他有限责任公司']}>其他有限责任公司</OPTION>
                    <OPTION value="股份有限公司" {$cptype['股份有限公司']}>股份有限公司</OPTION>
                    <OPTION value="其他内资企业" {$cptype['其他内资企业']}>其他内资企业</OPTION>
                    <OPTION value="与港澳台商合资经营" {$cptype['与港澳台商合资经营']}>与港澳台商合资经营</OPTION>
                    <OPTION value="与港澳台商合作经营" {$cptype['与港澳台商合作经营']}>与港澳台商合作经营</OPTION>
                    <OPTION value="港澳台商独资" {$cptype['港澳台商独资']}>港澳台商独资</OPTION>
                    <OPTION value="港澳台商投资股份有限公司" {$cptype['港澳台商投资股份有限公司']}>港澳台商投资股份有限公司</OPTION>
                    <OPTION value="中外合资经营" {$cptype['中外合资经营']}>中外合资经营</OPTION>
                    <OPTION value="中外合作经营" {$cptype['中外合作经营']}>中外合作经营</OPTION>
                    <OPTION value="外商独资" {$cptype['外商独资']}>外商独资</OPTION>
                    <OPTION value="外商投资股份有限公司" {$cptype['外商投资股份有限公司']}>外商投资股份有限公司</OPTION>
                    <OPTION value="政府机构" {$cptype['政府机构']}>政府机构</OPTION>
                    <OPTION value="非盈利组织" {$cptype['非盈利组织']}>非盈利组织</OPTION>
                    <OPTION value=其他 {$cptype['其他']}>其他</OPTION>
                 </SELECT>
            </td>
          </tr>
          <tr>
            <td class="tdL">所属行业:(<span class="red">*</span>)</td>
            <td class="tdR">
				<select name="cptrade">
                   <option value="">请选择所属行业</option>
<!--
EOT;
$detail=explode("\r\n",$webdb[companyTrade]);
foreach($detail AS $key=>$value){
$ckk=$cpDB[cptrade]==$value?' selected ':' ';
print <<<EOT
-->
                    <option value="$value" $ckk>$value</option>
<!--
EOT;
}print <<<EOT
-->
               </select>
            </td>
          </tr>
          <tr>
            <td class="tdL">企业法人:(<span class="red">*</span>)</td>
            <td class="tdR"><input type="text" name="cpfounder" style="width:130px;" value="$cpDB[cpfounder]"></td>
          </tr>
          <tr>
            <td class="tdL">注册资本:</td>
            <td class="tdR"><input type="text" name="cpmoney" style="width:50px;" value="$cpDB[cpmoney]">万元</td>
          </tr>
          <tr>
            <td class="tdL">成立日期:</td>
            <td class="tdR"><input type="text" name="cpfoundtime" style="width:130px;" value="$cpDB[cpfoundtime]"></td>
          </tr>
          <tr>
            <td class="tdL">组织机构代码:(<span class="red">*</span>)</td>
            <td class="tdR"><input type="text" name="cpcode" style="width:130px;" value="$cpDB[cpcode]">(如:66813032-4) </td>
          </tr>
          <tr>
            <td class="tdL">企业形象LOGO图片(可留空):</td>
            <td class="tdR">
            	<input type="text" name="cplogo" style="width:330px;" value="$cpDB[cplogo]" id="cplogo">
                [<a href='javascript:' onClick='window.open("../do/upfile.php?fn=upfile2&dir=cplogo","","width=350,height=50,top=200,left=400")'><span class="blue">点击上传企业LOGO</span></a>] 
<script language="JavaScript">
<!--
function upfile2(url,name,size,label){	
	document.getElementById("cplogo").value=url;
}	
//-->
</script>
            </td>
          </tr>
          <tr>
            <td class="tdL">营业执照复印件:</td>
            <td class="tdR">
            	<input type="text" name="cppermit" style="width:330px;" value="$cpDB[cppermit]" id="cppermit">
                [<a href='javascript:' onClick='window.open("../do/upfile.php?fn=upfile&dir=cppermit","","width=350,height=50,top=200,left=400")'><span class="blue">点击上传营业执照复印件</span></a>] 
<SCRIPT LANGUAGE="JavaScript">
<!--
function upfile(url,name,size,label){	
	document.getElementById("cppermit").value=url;
}	
//-->
</SCRIPT>
            </td>
          </tr>
          <tr>
            <td class="tdL">员工人数:</td>
            <td class="tdR"><input type="text" name="cpmannum" style="width:50px;" value="$cpDB[cpmannum]">人</td>
          </tr>
          <tr>
            <td class="tdL">主营产品:</td>
            <td class="tdR"><input type="text" name="cpproduct" style="width:330px;" value="$cpDB[cpproduct]"></td>
          </tr>
          <tr>
            <td class="tdL">所在城市:(<span class="red">*</span>)</td>
            <td class="tdR">
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/select_menu.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
var input_value='$cpDB[cpcity]';
var input_name='cpcity';
var select_type='2';
var file='../do/ajax_select.php';
var DIV_idb='DIV_idb'+Math.random();
var input_idb='input_idb'+Math.random();
document.write("<span id='"+DIV_idb+"'></span>");
document.write("<input type='hidden' id='"+input_idb+"' name='"+input_name+"'  size='5' value='"+input_value+"'>");
get_div_S(DIV_idb,DIV_idb,input_idb,select_type,'',input_value);
//-->
</SCRIPT>
            </td>
          </tr>
          <tr>
            <td class="tdL">公司网址:</td>
            <td class="tdR"><input type="text" name="cpweb" style="width:230px;" value="$cpDB[cpweb]"></td>
          </tr>
          <tr>
            <td class="tdL">公司电话:(<span class="red">*</span>)</td>
            <td class="tdR"><input type="text" name="cptelephone" style="width:130px;" value="$cpDB[cptelephone]"></td>
          </tr><tr>
            <td class="tdL">公司联系人:</td>
            <td class="tdR"><input type="text" name="cplinkman" style="width:130px;" value="$cpDB[cplinkman]"></td>
          </tr>
          <tr>
            <td class="tdL">联系手机:</td>
            <td class="tdR"><input type="text" name="cpmobphone" style="width:130px;" value="$cpDB[cpmobphone]"></td>
          </tr>
          <tr>
            <td class="tdL">联系QQ:</td>
            <td class="tdR"><input type="text" name="cpqq" style="width:130px;" value="$cpDB[cpqq]"></td>
          </tr>
          <tr>
            <td class="tdL">联系MSN:</td>
            <td class="tdR"><input type="text" name="cpmsn" style="width:130px;" value="$cpDB[cpmsn]"></td>
          </tr>
          <tr>
            <td class="tdL">公司地址:(<span class="red">*</span>)</td>
            <td class="tdR"><input type="text" name="cpaddress" style="width:330px;" value="$cpDB[cpaddress]"></td>
          </tr>
          <tr>
            <td class="tdL">邮政编码:</td>
            <td class="tdR"><input type="text" name="cppostcode" style="width:130px;" value="$cpDB[cppostcode]"></td>
          </tr>
          <tr>
            <td class="tdL"><br/></td>
            <td class="tdR">
            	<input type="submit" name="Submit3" value="提 交">
                <input type="hidden" name="step" value="2">
            </td>
          </tr>
        </table>
        </form>
<!--
EOT;
}elseif($job=='view'){
print <<<EOT
--> 
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
          <tr>
            <th colspan="2">企业资料</th>
          </tr>
		  <tr>
            <td class="tdL">企业名称:</td>
            <td class="tdR">$cpDB[cpname] </td>
          </tr>
          <tr>
            <td class="tdL">企业性质:</td>
            <td class="tdR">$cpDB[cptype]</td>
          </tr>
          <tr>
            <td class="tdL">所属行业:</td>
            <td class="tdR">$cpDB[cptrade]</td>
          </tr>
          <tr>
            <td class="tdL">企业法人:</td>
            <td class="tdR">$cpDB[cpfounder]</td>
          </tr>
          <tr>
            <td class="tdL">注册资本:</td>
            <td class="tdR">{$cpDB[cpmoney]} 万元</td>
          </tr>
          <tr>
            <td class="tdL">成立日期:</td>
            <td class="tdR">$cpDB[cpfoundtime]</td>
          </tr>
          <tr>
            <td class="tdL">组织机构码:</td>
            <td class="tdR">{$cpDB[cpcode]}</td>
          </tr>
          <tr>
            <td class="tdL">企业形象LOGO图:</td>
            <td class="tdR">
<!--
EOT;
if($cpDB[cplogo]){
$cpDB[cplogo]=tempdir($cpDB[cplogo]);
print <<<EOT
-->
                 <a href="$cpDB[cplogo]" target="_blank"><img src="$cpDB[cplogo]" onload="if(this.width>200)this.width=200;" border="0"></a>	
<!--
EOT;
}print <<<EOT
-->
            </td>
          </tr>
          <tr>
            <td class="tdL">营业执照复印件:</td>
            <td class="tdR">
<!--
EOT;
if($cpDB[cppermit]){
$cpDB[cppermit]=tempdir($cpDB[cppermit]);
print <<<EOT
-->
                   <a href="$cpDB[cppermit]" target="_blank"><img src="$cpDB[cppermit]" onload="if(this.width>200)this.width=200;" border="0"></a>	
<!--
EOT;
}print <<<EOT
-->
            </td>
          </tr>
          <tr>
            <td class="tdL">员工人数:</td>
            <td class="tdR">{$cpDB[cpmannum]} 人</td>
          </tr>
          <tr>
            <td class="tdL">主营产品:</td>
            <td class="tdR">{$cpDB[cpproduct]}</td>
          </tr>
          <tr>
            <td class="tdL">所在城市:</td>
            <td class="tdR">{$area_db[name][$cpDB[cpcity]]}</td>
          </tr>
          <tr>
            <td class="tdL">公司网址:</td>
            <td class="tdR">$cpDB[cpweb] </td>
          </tr>
          <tr>
            <td class="tdL">公司电话:</td>
            <td class="tdR">$cpDB[cptelephone]</td>
          </tr>
          <tr>
            <td class="tdL">公司传真:</td>
            <td class="tdR">$cpDB[cpfax]</td>
          </tr>
          <tr>
            <td class="tdL">公司联系人:</td>
            <td class="tdR">$cpDB[cplinkman]</td>
          </tr>
          <tr>
            <td class="tdL">联系手机:</td>
            <td class="tdR">$cpDB[cpmobphone]</td>
          </tr>
          <tr>
            <td class="tdL">联系QQ:</td>
            <td class="tdR">$cpDB[cpqq]</td>
          </tr>
          <tr>
            <td class="tdL">联系MSN:</td>
            <td class="tdR">$cpDB[cpmsn]</td>
          </tr>
          <tr>
            <td class="tdL">公司地址:</td>
            <td class="tdR">$cpDB[cpaddress] </td>
          </tr>
          <tr>
            <td class="tdL">邮政编码:</td>
            <td class="tdR">$cpDB[cppostcode]</td>
          </tr>
        </table>
<!--
EOT;
}print <<<EOT
-->
    </div>
</div>
<!--
EOT;
?>
-->