<!--
<?php
print <<<EOT
-->
<div class="MainCont">
	<div class="head"><span class="tag">个人资料</span></div>
    <div class="cont">
    	<form name="form1" method="post" action="?job=edit&" enctype="multipart/form-data" onsubmit="return ckregdatapost();">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
          <tr>
            <th colspan="2">以下为重要信息</th>
          </tr>
          <tr>
            <td class="tdL">帐号:</td>
            <td class="tdR">$lfjid</td>
          </tr>
          <tr>
            <td class="tdL">邮箱:</td>
            <td class="tdR">
            	<span class="FL input"><input type="text" name="email" style="width:130px;" value="$lfjdb[email]" $ipunt_email></span>
                <span class="FL">忘记密码时,取回密码使用</span>
            </td>
          </tr>
          <tr>
            <td class="tdL">新密码:</td>
            <td class="tdR"><input type="password" name="password" style="width:130px;"></td>
          </tr>
          <tr>
            <td class="tdL">重复输入密码:</td>
            <td class="tdR"><input type="password" name="password2" style="width:130px;"></td>
          </tr>
          <tr>
            <td class="tdL">旧密码:</td>
            <td class="tdR">
            	<span class="FL input"><input type="password" name="old_password" style="width:130px;"></span>
                <span class="FL">(如果修改密码或邮箱,必须输入旧密码)</span>
            </td>
          </tr>
          <tr> 
             <td colspan="2">
<script src="$webdb[www_url]/images/default/setday.js"></script>
<SCRIPT LANGUAGE="JavaScript">
<!--
var filed_id='';
var filed_name='';
function ckregdata(a,b){
	filed_id=a;
	filed_name=b;
}
function ckregdatapost(){
	id_array=filed_id.split(',');
	name_array=filed_name.split(',');
	for(var i=0;i<id_array.length;i++){
		if(id_array[i]!=''&&document.getElementById(id_array[i]).value==''){
			alert("“"+name_array[i]+'”不能为空');
			document.getElementById(id_array[i]).focus();
			return false;
		}
	}
}
/*如要为页面布局考虑的话，你可以把template\default\regfield.htm里边的内容复制过来，然后把以下两行删除即可*/
document.write('<div id="showRegDiv"></div>');
AJAX.get("showRegDiv","$webdb[www_url]/do/regfield.php?job=reg");
//-->
</SCRIPT>
			 </td>
          </tr>
          <tr>
            <th colspan="2">以下为选填信息</th>
          </tr>
          <tr>
            <td class="tdL">个人头像:</td>
            <td class="tdR">
            	<span id="icon_web"><input type="text" name="icon" style="width:250px;" value="$lfjdb[icon]"></span> 
                <span id="icon_file" style="display:none;"><input type="file" name="postfile"></span> 
                <input type="radio" name="icon_type" value="old" checked onclick="document.getElementById('icon_web').style.display='';document.getElementById('icon_file').style.display='none';">网络地址 
                <input type="radio" name="icon_type" value="new"  onclick="document.getElementById('icon_web').style.display='none';document.getElementById('icon_file').style.display='';">重新上传
            </td>
          </tr>
          <tr>
            <td class="tdL">生日:</td>
            <td class="tdR">
            	<span class="FL input"><input type="text" name="bday" style="width:130px;" value="$lfjdb[bday]"></span>
                <span class="FL">格式为1981-08-13</span>
            </td>
          </tr>
          <tr>
            <td class="tdL">所在城市:</td>
            <td class="tdR">
            	<select name="cityid">                       
<!--
EOT;
foreach($city_DB[name] AS $key=>$value){
$ckk=$key==$lfjdb[cityid]?' selected ':'';
print <<<EOT
-->
					<option value="$key" $ckk>$value</option>
<!--
EOT;
}print <<<EOT
-->
               </select>
            </td>
          </tr>
          <tr>
            <td class="tdL">性别:</td>
            <td class="tdR">
            	<input type="radio" name="sex" value="0" $sex_db[0]>保密 
                <input type="radio" name="sex" value="1" $sex_db[1]>男 
                <input type="radio" name="sex" value="2" $sex_db[2]>女
            </td>
          </tr>
          <tr>
            <td class="tdL">QQ:</td>
            <td class="tdR"><input type="text" name="oicq" style="width:130px;" value="$lfjdb[oicq]"></td>
          </tr>
          <tr>
            <td class="tdL">MSN:</td>
            <td class="tdR"><input type="text" name="msn" style="width:130px;" value="$lfjdb[msn]"></td>
          </tr>
          <tr>
            <td class="tdL">个人主页:</td>
            <td class="tdR"><input type="text" name="homepage" style="width:250px;" value="$lfjdb[homepage]"></td>
          </tr>
          <tr>
            <td class="tdL">自我介绍:</td>
            <td class="tdR"><textarea name="introduce" cols="50" rows="5">$lfjdb[introduce]</textarea></td>
          </tr>
          <tr>
            <td class="tdL">联系地址:</td>
            <td class="tdR"><input type="text" name="address" style="width:250px;" value="$lfjdb[address]"></td>
          </tr>
          <tr>
            <td class="tdL">邮政编码:</td>
            <td class="tdR"><input type="text" name="postalcode" style="width:130px;" value="$lfjdb[postalcode]"></td>
          </tr>
          <tr>
            <td class="tdL">联系电话:</td>
            <td class="tdR"><input type="text" name="telephone" style="width:130px;" value="$lfjdb[telephone]"></td>
          </tr>
          <tr>
            <td class="tdL">联系手机:</td>
            <td class="tdR"><input type="text" name="mobphone" style="width:130px;" value="$lfjdb[mobphone]" $ipunt_mob></td>
          </tr>
          <tr>
            <td class="tdL">身份证号码:</td>
            <td class="tdR"><input type="text" name="idcard" style="width:250px;" value="$lfjdb[idcard]" $ipunt_idcard></td>
          </tr>
          <tr>
            <td class="tdL">真实姓名:</td>
            <td class="tdR"><input type="text" name="truename" style="width:130px;" value="$lfjdb[truename]" $ipunt_idcard></td>
          </tr>
          <tr>
            <td class="tdL"><br/></td>
            <td class="tdR">
            	<input type="submit" name="Submit3" value="提 交">
                <input type="hidden" name="step" value="2">
            </td>
          </tr>
        </table>
        </form>
    </div>
</div>
<!--
EOT;
?>
-->
