<!--
<?php
if($job=='email'){
print <<<EOT
--> 
<div class="MainCont mtop10">
	<div class="head"><div class="tag">邮箱验证</div></div>
    <div class="cont">
    	<div class="Showpage">        
<!--
EOT;
if($lfjdb[email_yz]!=1){print <<<EOT
-->
			 <form name="form1" method="post" action="?">
              <input type="text" name="email" value="$lfjdb[email]">
              <input type="submit" name="Submit" value="立即验证">
              <input type="hidden" name="action" value="email">
             </form>
<!--
EOT;
}else{print <<<EOT
-->
              你的邮箱已通过验证“<span class="b red">{$lfjdb[email]}</span>”  
<!--
EOT;
}print <<<EOT
-->
		</div>
    </div>
</div>
<div class="MainCont mtop10">
	<div class="head">
    	<div class="tag">说明</div>
    </div>
    <div class="cont">
    	<ul class="aboutnote">
        	<li>1、验证邮箱，不仅可以提高信誉度，同时还可以得到{$webdb[YZ_EmailMoney]}个积分的奖励。</li>
<!--
EOT;
if(!$webdb[EditYzEmail]){print <<<EOT
--> 
			<li>2、邮箱验证之后，不可以再修改，你务必注意！</li>   
<!--
EOT;
}print <<<EOT
-->
        </ul>
    </div>
</div>
<!--
EOT;
}elseif($job=='mob'||$action=='mobphone'){print <<<EOT
-->
<div class="MainCont mtop10">
	<div class="head"><div class="tag">手机号码验证</div></div>
    <div class="cont">
    	<div class="Showpage">
        <form name="form1" method="post" action="?">
<!--
EOT;
if($action=="mobphone"){print <<<EOT
-->
              请输入你的手机收到的验证码 
              <input type="text" name="yznum" size="13" >
              <input type="submit" name="Submit" value="提交">
              <br>
              <br>
              注意:手机接收短信需要一段时间,请耐心等候 
              <input type="hidden" name="mobphone" value="$mobphone">
              <input type="hidden" name="action" value="mobphone2">
              <input type="hidden" name="md5code" value="$md5code">
<!--
EOT;
}elseif(!$lfjdb[mob_yz]){print <<<EOT
-->
              <input type="text" name="mobphone" value="$lfjdb[mobphone]" size="13">
              <input type="submit" name="Submit" value="立即验证">
              <input type="hidden" name="action" value="mobphone">
<!--
EOT;
}else{print <<<EOT
-->
              你的手机号码已通过验证“<span class="b red">{$lfjdb[mobphone]}</span>” 
<!--
EOT;
}print <<<EOT
-->
		</form>
		</div>
    </div>
</div>
<div class="MainCont mtop10">
	<div class="head">
    	<div class="tag">说明</div>
    </div>
    <div class="cont">
    	<ul class="aboutnote">
        	<li>1、验证手机号码，不仅可以提高信誉度，同时还可以得到{$webdb[YZ_MobMoney]}个积分的奖励。</li> 
			<li>2、手机号码,只有管理员才有权限查看,请放心</li>
<!--
EOT;
if(!$webdb[EditYzMob]){print <<<EOT
-->
            <li>3、手机号码之后，不可以再修改，你务必注意！</li> 
<!--
EOT;
}print <<<EOT
-->
        </ul>
    </div>
</div>
<!--
EOT;
}elseif($job=='idcard'){print <<<EOT
-->
<div class="MainCont mtop10">
	<div class="head"><div class="tag">身份验证</div></div>
    <div class="cont">
<!--
EOT;
if($lfjdb[idcard_yz]!=1){print <<<EOT
-->
    	<form name="form1" method="post" action="?">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
<!--
EOT;
if($lfjdb[idcard_yz]==-1){print <<<EOT
-->
          <tr>
            <th colspan="2"><span class="b red">提示：</span>你的资料正在审核当中，目前你还可以继续修改完善。</th>
          </tr>
<!--
EOT;
}print <<<EOT
-->
<script type="text/javascript">
function upfile(url,name,size,ty){
	document.getElementById("telephoneid").value=url;
}
</script>
          <tr>
            <td class="tdL" style="width:120px;">真实姓名(<span class="b red">*</span>):</td>
            <td class="tdR"><input type="text" name="truename" value="$lfjdb[truename]" size="15"></td>
          </tr>
          <tr>
            <td class="tdL">身份证号码(<span class="b red">*</span>):</td>
            <td class="tdR"><input type="text" name="idcard"  value="$lfjdb[idcard]" size="25"></td>
          </tr>
          <tr>
            <td class="tdL">身份证复印件:</td>
            <td class="tdR">
            	<input type="text" name="idcardpic" id="telephoneid" size="40" readonly value="$idcardpic">
                <a href='javascript:' onClick='window.open("../do/upfile.php?fn=upfile&dir=idcard","","width=350,height=50,top=200,left=400")'>点击上传图片</a> 
            </td>
          </tr>
          <tr>
            <th colspan="2">注意:身份证复印件为可选项, 但建议你上传,这样将更容易通过管理员的审核,否则有可能审核不通过!</th>
          </tr>
          <tr>
            <td class="tdL"><br/></td>
            <td class="tdR">
            	<input type="submit" name="Submit" value="立即验证">
                <input type="hidden" name="action" value="idcard">
            </td>
          </tr>
		</table>
        </form>
<!--
EOT;
}elseif($lfjdb[idcard_yz]==1){
$idcardpic=tempdir("idcard/$lfjuid.jpg");
print <<<EOT
-->	
			<div style="text-align:center;padding:15px 0 10px 0;">
              <a href="$rsdb[idcardpic]" target="_blank"><img src="$idcardpic" width="150" onload="if(this.height>200)this.height=200;"/></a> 
              <br/>
              已通过验证 
            </div>
<!--
EOT;
}print <<<EOT
-->
    </div>
</div>
<div class="MainCont mtop10">
	<div class="head">
    	<div class="tag">说明</div>
    </div>
    <div class="cont">
    	<ul class="aboutnote">
			<li>1、身份验证，不仅可以提高信誉度，同时还可以得到{$webdb[YZ_IdcardMoney]}个积分的奖励。</li>
            <li>2、身份验证不是系统自动审核的，而是管理员人工审核的，所以你务必认真填写，否则不会被通过。</li>
			<li>3、身份证相关隐私资料,只有管理员才有权限查看,请放心。</li>
<!--
EOT;
if(!$webdb[EditYzIdcard]){print <<<EOT
-->
            <li>4、身份成功验证之后，不可以再修改，你务必注意！ </li>
<!--
EOT;
}print <<<EOT
-->
        </ul>
    </div>
</div>
<!--
EOT;
}
?>
-->