<!--
<?php
print<<<EOT
--><!--
EOT;
if( $get_area_guide){
print<<<EOT
-->
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
 
  <tr> 
    <td bgcolor=#FFFFFF>
    地段管理,当前位置: $get_area_guide
    </td>
</table>
<!--
EOT;
}
print<<<EOT
-->
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
  <tr class="head"> 
    <td> <span class=bold><font color="#FFFFFF">创建地段</font></span></td>
  </tr>
  <tr> 
    <td bgcolor=#FFFFFF> 
       
      
      <form action="$admin_path&action=addstreet" method=POST>
       
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="8%">名称</td>
            <td width="92%"> 
              <textarea name="name" cols="40" rows="5"></textarea>
              注:如要同时添加多个地名,每个地名换一行.</td>
          </tr>
          <tr>
            <td width="8%">归属</td>
            <td width="92%">{$rsdb[name]}
              <input type="hidden" name="fup" value="$fup">
            </td>
          </tr>
          <tr>
            <td width="8%">&nbsp;</td>
            <td width="92%">
              <input type=submit value="创 建" name="submit">
            </td>
          </tr>
        </table>
      </form>
    </td>
</table>
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth"><form name="formlist" method="post" action="$admin_path&action=editlist_street">
  <tr> 
      <td class="head" bgcolor="#EAEAEA"><font color="#FFFFFF">地段列表</font></td>
  </tr>
  <tr> 
      <td bgcolor=#FFFFFF align="left"> 
        <ul>
          <li>注意:<font color="#FF0000">排序的规则是,数值大的排在前面</font></li>
        </ul> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr align="center"> 
            <td width="6%" style="background:#449AE8;color:#fff;border-right:1px solid #fff;">FID</td>
            <td  style="background:#449AE8;color:#fff;border-right:1px solid #fff;" width="46%">名称</td>
            <td width="10%" style="background:#449AE8;color:#fff;border-right:1px solid #fff;">排序值</td>
            <td width="9%" style="background:#449AE8;color:#fff;border-right:1px solid #fff;">所在城市</td>
            <td width="11%" style="background:#449AE8;color:#fff;border-right:1px solid #fff;">所在辖区</td>
            <td width="9%" style="background:#449AE8;color:#fff;border-right:1px solid #fff;">设置</td>
            <td width="9%" style="background:#449AE8;color:#fff;border-right:1px solid #fff;">删除</td>
          </tr>
          <!--
EOT;
foreach($sortdb AS $key=>$rs){
print <<<EOT
-->
          <tr onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
            <td width="6%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><b><font color="#FF0000">$rs[fid]</font></b></td>
            <td bgcolor="#FFFFFF" width="46%" style="border-bottom:1px dotted #ccc;"> 
              $rs[icon]【<a href="$webdb[www_url]/index.php?choose_cityID=$rs[cityid]&zone_id=$rs[fup]&street_id=$rs[fid]" target="_blank">{$rs[name]}</a>】</td>
            <td width="10%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"> 
              <input type='text' name='order[{$rs[fid]}]' value='$rs[list]' size='5'>
            </td>
            <td width="9%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><a href="$admin_path&job=zone&fup=$rs[city_id]">$rs[city]</a></td>
            <td width="11%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><a href="$admin_path&job=street&fup=$rs[fup]">$rs[zone]</a></td>
            <td width="9%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;">[<a href='$admin_path&job=edit_street&fid=$rs[fid]'><font color=red>修改</font></a>]</td>
            <td width="9%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;">[<a href="$admin_path&action=delete_street&fid=$rs[fid]" onclick="return confirm('你确实要删除吗?不可恢复');">删除</a>]</td>
          </tr>
          <!--
EOT;
}print <<<EOT
-->
        </table>
        <div align="center">$showpage<br>
          <input type="submit" name="Submit2" value="修改排序" >
          
		  </div>
      </td>
  </tr> </form>
</table>
<!--
EOT;
?>
-->
