<!--
<?php
print <<<EOT
--><form name="form1" method="post" action="$admin_path&action=batch&type=sort_dir">
<table border="0" cellspacing="1" cellpadding="3" width="100%" class="tablewidth">
     <tr align="center"> 
      <td class="head">批量操作</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      
    <td align="center"> <br>
        是否覆盖已有的栏目拼音: 
        <input type="radio" name="re_write_dir" value="1" checked>
        覆盖(推荐) 
        <input type="radio" name="re_write_dir" value="0">
        不覆盖<br>
        拼音第一个字母是否大写: 
        <input type="radio" name="big_letter" value="1" checked>
        大写(推荐) 
        <input type="radio" name="big_letter" value="0">
        全小写<br>
        <input type="submit" name="Submit" value="批量生成栏目/分类目录名">
        <br>
      <br>
    </td>
    </tr>
 </table> </form>
<!--
EOT;
?>
-->