<!--
<?php
print <<<EOT
--> 
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="$admin_path&action=$job">
    <tr class="head"> 
      <td colspan="2">请操作</td>
    </tr>
    <tr bgcolor='#FFFFFF'> 
      <td width='41%'><font color='#000000'>出错的栏目:</font></td>
      <td width='59%'><font color='#000000'>{$errsort}</font></td>
    </tr>
    <tr bgcolor='#FFFFFF'> 
      <td width='41%'> 修改后属于哪个分类：</td>
      <td width='59%'><font color='#000000'>{$sort_fup}<font color='#0000FF'>不选择，则转变为顶级分类</font></font></td>
    </tr>
    <tr bgcolor='#FFFFFF'> 
      <td width='41%' height='34'><font color='#000000'></font></td>
      <td width='59%' height='34'><font color='#000000'> 
        <input type='submit' name='Submit' value='修正'>
        </font></td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
