<!--
<?php
$www_url=str_replace("http://","",$webdb[www_url]);
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
document.write('</div>');
clickEdit.init();	//快速操作功能
</SCRIPT>
<div class="CopyRight">
<center>版权说明</center>
</div>
<!--CNZZ站点统计
EOT;
if($webdb[cnzz_open]&&$webdb[cnzz_id]){print <<<EOT
-->
<div style="display:none"><script src='http://pw.cnzz.com/c.php?id=$webdb[cnzz_id]' language='JavaScript' charset='gb2312'></script></div>
<!--CNZZ站点统计
EOT;
}print <<<EOT
-->
</body>
</html>
<!--
EOT;
?>
-->