.ListDp{
	width:98%;
	margin:5px auto 0 auto;	
}
.ListDp .img{
	width:100px;
	padding-right:10px;
}
.ListDp .img a{
	display:block;
	text-align:center;
	color:#1166BB;
}
.ListDp .img a.p{
	width:100px;
	height:100px;
	overflow:hidden;
	border:#DDD solid 1px;
	margin-bottom:5px;
	padding:1px;
}
.ListDp .img a.p span{
	width:100px;
	height:100px;
	overflow:hidden;
}
.ListDp .msg{
	padding-bottom:5px;
}
.ListDp .word .fen{
	padding:5px 0 3px 0;
	background:url(dotted.gif) left bottom repeat-x;	
}
.ListDp .word .c{
	padding:10px 5px 0 0;
	line-height:20px;
	text-indent:20px;
	color:#666;
}
.ListDp .word .m{
	line-height:20px;
}
.ListDp .act{
	background:url(dotted.gif) left 20px repeat-x;
	text-align:right;
}
.ListDp .act a{
	color:#1166BB;
}
.ListDp .act span{
	color:#F50;
}
.ListDp .act em{
	color:#888;
	font-style:normal;
}
.dianpingpage{
	padding:8px 0 15px 0;
	text-align:center;
}
.dianpingpage a{
	border:#DDD solid 1px;
	color:#888;
	padding:3px 5px 2px 5px;
}