<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth"  style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
  <form name="form_work" method="post" action="index.php?lfj=$lfj&action=set">
    <tr class="head"> 
      <td colspan="2" align="center">手机短信接口资料配置</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="16%" style="width:300px;">手机短信接口提供商:</td>
      <td align="left" width="84%"> <a href="index.php?lfj=$lfj&action=delete_admin_logs&iddb[{$rs[id]}]=1"></a> 
        <input type="radio" name="webdbs[sms_type]" value="eshang8" onclick="choose_sms('eshang8')" $sms_type[eshang8]>
        E商发短信平台(<a href="http://sms.eshang8.cn/" target="_blank"><u>官网</u></a>) 
        <input type="radio" name="webdbs[sms_type]" onclick="choose_sms('winic')" value="winic" $sms_type[winic]>
        移动商务应用中心(<a href="http://www.winic.org/" target="_blank"><u>官网</u></a>)</td>
    </tr>
    <tr bgcolor="#FFFFFF" id="eshang8_1" style="display:none;"> 
      <td align="left" width="16%">帐户:</td>
      <td align="left" width="84%"> 
        <input type="text" name="webdbs[sms_es_name]" value="$webdb[sms_es_name]">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF" id="eshang8_2" style="display:none;">
      <td align="left" width="16%">key：</td>
      <td align="left" width="84%"> 
        <input type="text" name="webdbs[sms_es_key]" value="$webdb[sms_es_key]" size="40">
      </td>
    </tr><tr bgcolor="#FFFFFF" id="winic_1" style="display:none;"> 
      <td align="left" width="16%">账号:</td>
      <td align="left" width="84%"> 
        <input type="text" name="webdbs[sms_wi_id]" value="$webdb[sms_wi_id]">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF" id="winic_2" style="display:none;">
      <td align="left" width="16%">密码：</td>
      <td align="left" width="84%"> 
        <input type="text" name="webdbs[sms_wi_pwd]" value="$webdb[sms_wi_pwd]" size="40">
      </td>
    </tr>    <tr class="head"> 
      <td colspan="2" align="center">中国移动飞信API接口资料配置</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="16%">飞信帐号:</td>
      <td align="left" width="84%"> 
        <input type="text" name="webdbs[fetion_id]" value="$webdb[fetion_id]">
        (即手机号码) </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="16%">飞信密码：</td>
      <td align="left" width="84%"> 
        <input type="text" name="webdbs[fetion_pwd]" value="$webdb[fetion_pwd]" size="40">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="16%">飞信好友手机号:</td>
      <td align="left" width="84%"> 
        <textarea name="webdbs[fetion_friend]" cols="20" rows="8">$webdb[fetion_friend]</textarea>
        每个手机号换一行，必须是飞信好友，因为只有好友，才可以接受信息。可以是自己的手机号， </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="16%">&nbsp;</td>
      <td align="left" width="84%"> 
        <input type="submit" name="Submit" value="提交"><SCRIPT LANGUAGE="JavaScript">
<!--
function choose_sms(type){
	if(type=='eshang8'){
		get_obj('eshang8_1').style.display="";
		get_obj('eshang8_2').style.display="";
		get_obj('winic_1').style.display="none";
		get_obj('winic_2').style.display="none";
	}else if(type=='winic'){
		get_obj('eshang8_1').style.display="none";
		get_obj('eshang8_2').style.display="none";
		get_obj('winic_1').style.display="";
		get_obj('winic_2').style.display="";		
	}
}
choose_sms('$webdb[sms_type]');
//-->
</SCRIPT>
      </td>
    </tr>
  </form>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth"  style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
  <form name="form_work" method="post" action="index.php?lfj=$lfj&action=set">
    <tr class="head"> 
      <td align="left">帮助说明</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left">1.要使用手机短信功能,你必须选择一个短信接口平台提供商,选择之后,你需要去对应的提供商官方网站注册一个帐号,然后他会分配给你帐号与密码.然后把他填入到以上表格里,最后再给相应的接口平台充值,才能成功的发送短信.<br>
        2.如果设置了飞信帐号密码的话，系统会优先给设置的飞信好友发信息，以节省费用。因为飞信发短信是免费的。而未设置的飞信好友，则不通过飞信接口发短信。</td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
