<html>
<head>
<title>系统提示(后台管理)</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="images/style.css" type="text/css">
<meta http-equiv='refresh' content='<?php echo$time;?>;url=<?php echo $url;?>'>
</head>

<body bgcolor="#FFFFFF" text="#000000"><table width="500" border="0" cellspacing="0" cellpadding="0" height="392" align="center">
  <tr>
    <td align="center" valign="middle"><table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
    <tr>
          <td class="head">系统提示</td>
  </tr>
  <tr>
    <td><?php echo $msg;?></td>
  </tr>
  <tr>
          <td align="center"> <hr style="height:1px;width:90%;">[<a href="<?php echo $url;?>">如果浏览器没反应,请点击这里</a>] </td>
  </tr>
</table></td>
  </tr>
</table>
</body>
</html>
