<html>
<head>
<title>(错误提示)后台管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="images/style.css" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#000000"><table width="500" border="0" cellspacing="0" cellpadding="0" height="392" align="center">
  <tr>
    <td align="center" valign="middle"><table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
    <tr>
    <td class="head">错误提示</td>
  </tr>
  <tr>
    <td><?php echo $msg;?></td>
  </tr>
  <tr>
    <td align="center"><input type="button" name="Submit" value="点击返回" onClick='javascript:history.go(-1);'></td>
  </tr>
</table></td>
  </tr>
</table> 
</body>
</html>
