<!--
<?php
print <<<EOT
--> 
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
    <tr class="head"> 
      <td>系统在线升级</td>
    </tr>
    <tr bgcolor='#FFFFFF' align="center"> 
      <td height='34'>
        <div id="upgrade_1" style="margin:50px;display:none;"> <font color="#FF0000">有最新升级数据,你可以立即升级</font><br>
          <br>
        <input type='submit' name='Submit' value='立即升级'>
</div>
	  
        <div id="upgrade_0" style="margin:50px;display:none;"> <font color="#0000FF">目前没有可以升级的数据!</font> 
        </div>

<div style="margin:50px;" id="upgrade_g">
<img src="../images/default/ico_loading3.gif"> 请稍候,正向官方获取升级信息...
</div>
      </td>
    </tr>
  </form>
</table>
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
     <tr class="head"> 
      <td>说明</td>
    </tr>
 
    <tr bgcolor='#FFFFFF' align="center"> 
      
    <td height='34' align="left"> 1.如果检测到官方有最新的升级资料,就会提示你升级,因网络情况,有的升级包如果比较大的话,下载资料就会比较慢,请耐心等待.</td>
    </tr>
 
  
</table>
<SCRIPT LANGUAGE="JavaScript" src="http://down.qibosoft.com/sys_upgrade.php?upgrade_Record=$webdb[upgrade_Record]"></SCRIPT><!--
EOT;
?>
-->
