<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
 
  <tr> 
    <td align="center"> 
      <input type="button" name="Submit22" value="创建点卡" onClick="window.location=('index.php?lfj=$lfj&job=make')">
      　　 
      <input type="button" name="Submit2" value="所有点卡" onClick="window.location=('index.php?lfj=$lfj&job=list')">
      　　 
      <input type="button" name="Submit23" value="点卡充值" onClick="window.open('../do/moneycard.php')">
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->