<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
 
  <tr> 
    <td align="left"> [<a href="index.php?lfj=member&job=list">用户成员管理</a>] [<a href="index.php?lfj=member&job=list&T=noyz">未审核的用户</a>] 
      [<a href="index.php?lfj=member&job=list&T=yz">已审核的用户</a>] [<a href="index.php?lfj=member&job=list&T=email">email验证用户</a>] 
      [<a href="index.php?lfj=member&job=list&T=mob">手机验证用户</a>] [<a href="index.php?lfj=member&job=list&T=idcard">身份证验证用户</a>] 
      [<a href="index.php?lfj=member&job=list&T=unidcard">身份证待审核用户</a>] 
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->