<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="indexMain" align="center">
  <tr>
    <td class="L" width="75%" height="352" align="left" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="showcontent">
        <tr> 
          <td align="center" class="bigtitle"><b>$rsdb[title]</b></td>
        </tr>
        <tr> 
          <td class="info" height="75" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td valign="top" width="35%"><div><a href="$city_url/post.php?fid=$fid&city_id=$city_id&zone_id=$zone_id&street_id=$street_id">免费发布信息</a> 
               
                &nbsp;<a href="$city_url/post.php?job=edit&fid=$fid&id=$id">修改</a>&nbsp;<a href="$city_url/post.php?action=del&fid=$fid&id=$id">删除</a> 
                </div>
                  <a href="#" class="i"><img src="$rsdb[picurl]" onerror="this.src='$webdb[www_url]/images/blue/testimg.gif'" border="0" width="220" height="165"></a>
				  
				  <div class="ii"><a href="$city_url/job.php?job=show_img&fid=$fid&id=$id" target="_blank"><img src="$webdb[www_url]/images/default/img_ico.gif" border="0">{$rsdb[picnum]}图</a> 
                <a href="$city_url/job.php?job=post_img&fid=$fid&id=$id" target="_blank"><img src="$webdb[www_url]/images/default/upfile.gif" border="0">上传</a></div>
				</td>
                <td valign="top" width="65%"> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="iinfo">
                    <tr> 
                      <td class="a">地区：</td>
                      <td class="b">{$rsdb[showarea]}</td>
                    </tr><!--
EOT;
if($rsdb['sortid']){print <<<EOT
-->
                    <tr> 
                      <td class="a">交易方式：</td>
                      <td class="b">{$rsdb[sortid]} </td>
                    </tr><!--
EOT;
}print <<<EOT
--><!--
EOT;
if($rsdb['my_outprice']){print <<<EOT
-->
                    <tr> 
                      <td class="a">原价：</td>
                      <td class="b">{$rsdb[my_outprice]} </td>
                    </tr><!--
EOT;
}print <<<EOT
--><!--
EOT;
if($rsdb['my_price']){print <<<EOT
-->
                    <tr> 
                      <td class="a">现价：</td>
                      <td class="b">{$rsdb[my_price]} </td>
                    </tr><!--
EOT;
}print <<<EOT
--><!--
EOT;
if($rsdb['my_hownew']){print <<<EOT
-->
                    <tr> 
                      <td class="a">新旧程度：</td>
                      <td class="b">{$rsdb[my_hownew]} </td>
                    </tr><!--
EOT;
}print <<<EOT
--><!---->
                    <tr> 
                      <td class="a">标签：</td>
                      <td class="b">$rsdb[keywords]</td>
                    </tr>
                  </table>
				  <div class="about">发布时间:{$rsdb[posttime]}　有效日期：{$rsdb[showday]}　浏览量：{$rsdb[hits]}次</div>
                  <div class="footdo"> 
                    <div class="fav"><a href="$city_url/job.php?job=collect&id=$id" target="_blank">加入收藏夹</a></div>
                    <div class="report"><a href="$city_url/job.php?job=report&fid=$fid&id=$id" target="_blank">举报该信息</a></div>
                    <div class="send"><a href="#" onclick="document.getElementById('sendmsg').style.display='';">推荐给好友</a></div>
                  </div><div id="sendmsg" style="border:1px solid #ccc;padding:5px;background:#eee;width:94%;display:none;"><!--
EOT;
if($lfjdb&&!$webdb[propagandize_close]){print <<<EOT
-->
您复制本条信息给它人访问,将有机会获得至少{$webdb[propagandize_Money]}{$webdb[MoneyDW]}{$webdb[MoneyName]}的奖励。
<!--
EOT;
}else{print <<<EOT
-->	
下面是这条信息的访问地址，您可以拷贝通过MSN、QQ、电子邮件发送给您的朋友。
<!--
EOT;
}print <<<EOT
-->
						</br>
                        <input type="text" size="50" value="$city_url/bencandy.php?propagandize_uid=$lfjuid&city_id=$rsdb[city_id]&fid=$rsdb[fid]&id=$rsdb[id]" id="msgurl">
                <input type="button" name="Submit2" value="复制" onClick="JM_cc('msgurl');alert('网址成功，你可以通过QQ或MSN发给你的好友！')">
                <SCRIPT LANGUAGE="JavaScript">
<!--
function JM_cc(ob){
var obj=document.getElementById(ob); if (obj) { 
obj.select();js=obj.createTextRange();js.execCommand("Copy");}
}
//-->
</SCRIPT>
              </div>
            
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="ahead">详细内容</td>
        </tr>
        <tr>
          <td class="content">$rsdb[content]</td>
        </tr> <tr>
          <td class="ahead">联系方式</td>
        </tr>
        <tr>
          <td class="content">联系人：{$rsdb[linkman]} 
                <!--
EOT;
if($rsdb[uid]){
print <<<EOT
-->
                <a href="$webdb[www_url]/member/?main=pm.php?job=send&username=$rsdb[linkman]" target="_blank"><img src="$webdb[www_url]/images/default/ww_offline.gif" border="0"></a> 
                <!--
EOT;
}print <<<EOT
-->
                <br>
                电话号码:$rsdb[telephone]<br>
                手机号码:$rsdb[mobphone]<br>
                QQ　号码:<a href="tencent://message/?uin=$rsdb[_oicq]&Site=$webdb[Info_webname]&Menu=yes">$rsdb[oicq]</a><br>
                MSN 帐号:$rsdb[msn]<br>
                邮箱帐号:$rsdb[email]<br>
                IP归属地:{$rsdb[ipfrom]} <a href="$city_url/job.php?job=ip&ip=$rsdb[ipaddress]" target="_blank">查询更多</a></td>
        </tr><tr>
          <td class="ahead">网友评论({$rsdb[comments]}条)</td>
        </tr>
        <tr>
          <td class="content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="wydianping">
               
              <tr> 
                <td class="b">排序：最新留言</td>
              </tr>
              <tr> 
                <td class="c"> 
                  <div id="comment"></div>
                </td>
              </tr>
            </table><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <!--
EOT;
if($lfjid){$none='none';}
print <<<EOT
-->
                    <tr style="display:$none;"> 
                      <td width="16%"><span class="L">称　　呼:</span><span class="R"></span></td>
                      <td width="84%"><span class="R"> 
                        <input type="text" name="textfield2" id="comment_username" value="$lfjid">
                        </span></td>
                    </tr>
                    <!--
EOT;
if($webdb[Info_GroupCommentYzImg]&&in_array($groupdb['gid'],explode(",",$webdb[Info_GroupCommentYzImg]))){
$webdb[yzImgComment]=1;
print <<<EOT
-->
                    <tr> 
                      <td width="16%"><span class="L">验 证 码:</span></td>
                      <td width="84%"><span class="R"> <input id="yzImgNum" type="text" name="yzimg" size="8" onFocus="commentyzimg()"></span>
                        
						<SCRIPT LANGUAGE="JavaScript">
<!--
function commentyzimg(){
	if(/yzimg\.php/.test($("#yz_Img")[0].src)==false){
		$("#yz_Img").show();
		$("#yz_Img")[0].src='$webdb[www_url]/do/yzimg.php?'+Math.random();
	}
	
}

document.write('<img border="0" id="yz_Img" name="imageField" onclick="this.src=this.src+Math.random();" src="" style="display:none;">');
//-->
</SCRIPT>
                      </td>
                    </tr>
                    <!--
EOT;
}
print <<<EOT
-->
                    <tr> 
                      <td width="16%"><span class="L">内　　容:</span></td>
                      <td width="84%"><span class="R"> 
                        <textarea name="textfield" cols="70" rows="8" id="comment_content" onKeyDown="quickpost(event)"></textarea>
                        </span></td>
                    </tr>
                    <tr> 
                      <td width="16%"> 
                        <script language="JavaScript">
<!--

getcomment("$city_url/job.php?job=comment_ajax&fid=$fid&id=$id");
cnt = 0;
function quickpost(event)
{
	if((event.ctrlKey && event.keyCode == 13)||(event.altKey && event.keyCode == 83))
	{
		cnt++;
		if (cnt==1){
			post_comment();
		}else{
			alert('内容正在提交...');
		}
	}	
}

function post_comment(){
	postcomment('$city_url/job.php?job=comment_ajax&action=post&fid=$fid&id=$id','$webdb[yzImgComment]');
	if(document.getElementById("yz_Img")!=null){
		//document.getElementById("yz_Img").src="$webdb[www_url]/do/yzimg.php?"+Math.random();;
		$("#yz_Img")[0].src='';
		$("#yz_Img").hide();
	}
}
//-->
</script>
                      </td>
                      <td width="84%"><span class="R"> 
                        <input type="button" id="comment_submit" name="Submit" value="提交" onClick="post_comment();">
                        </span></td>
                    </tr>
                  </table>
                
          </td>
        </tr>
      </table>
    </td>
    <td class="R" width="25%" height="152" align="left" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost auserinfo">
        <tr> 
          <td class="top">发布者信息</td>
        </tr>
        <tr> 
          <td class="m userinfo">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="36%" class="im"><a href="$webdb[www_url]/member/homepage.php?uid=$rsdb[uid]"  onclick="if($rsdb[uid]==0)return false;"><img src="$userdb[icon]" onerror="this.src='$webdb[www_url]/images/default/noface.gif'" width="80" height="80" border="0"></a></td>
                <td width="64%" align="left" valign="top"><a href="$city_url/job.php?job=userinfo&uid=$rsdb[uid]"  onclick="if($rsdb[uid]==0)return false;"><b><font color="#000099">$userdb[username] 
                  </font></b></a><br>
                  注册:$userdb[regdate]<br>
                  离线:$userdb[lastvist]<br>
                  级别:$userdb[level]<br>

<!--
EOT;
if($userdb[grouptype]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/member/images/company_icon.gif" alt="企业会员"> 
            <!--
EOT;
}
print <<<EOT
-->
            <!--
EOT;
if($userdb[idcard_yz]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/idcard_1.gif" alt="身份认证会员"> 
            <!--
EOT;
}else{
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/idcard_0.gif" alt="身份还未认证"> 
            <!--
EOT;
}
print <<<EOT
-->
            <!--
EOT;
if($userdb[email_yz]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/email_1.gif" alt="邮箱认证会员"> 
            <!--
EOT;
}else{
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/email_0.gif" alt="邮箱还未认证"> 
            <!--
EOT;
}
print <<<EOT
-->
            <!--
EOT;
if($userdb[mob_yz]==1){
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/mob_1.gif" alt="手机认证会员"> 
            <!--
EOT;
}else{
print <<<EOT
-->
            <img src="$webdb[www_url]/images/default/yz/mob_0.gif" alt="手机还未认证"> 
            <!--
EOT;
}
print <<<EOT
-->
</td>
              </tr>
              <tr> 
                <td colspan="2" style="line-height:28px;"><a href="$city_url/job.php?job=userinfo&uid=$rsdb[uid]" onclick="if($rsdb[uid]==0)return false;" target="_blank">查看该用户发布的所有信息</a></td>
              </tr>
            </table>
          
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dr">
        <tr>
          <td class="top">焦点信息</td>
        </tr>
        <tr>
          <td class="m">
            <script language="JavaScript">
<!--
document.write('<span id="side_adinfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=adinfo&fid=$fid&rows=$webdb[AdInfoListRow]&leng=$webdb[InfoListLeng]&iframeID=side_adinfo" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
      </table>
<!--
EOT;
if($rsdb[maps]){
print <<<EOT
-->
	  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost">
        <tr> 
          <td class="top" height="17">地图位置</td>
        </tr>
        <tr>
          <td class="m">            <!--
EOT;
if($webdb[if_GGmap]){print <<<EOT
-->
            <iframe src="$webdb[www_url]/job.php?job=show_ggmaps&position=$rsdb[maps]&title=$rsdb[title]"  width="100%" height="400" scrolling="no" frameborder="0" ></iframe>
            <!--
EOT;
}else{
$detail=explode(",",$rsdb[maps]);
print <<<EOT
-->
            <script language="javascript" src="http://api.51ditu.com/js/maps.js"></script>
            <div id="maps" style="position:relative; width:225px; height:300px; border:black solid 1px;"> 
              <div align="center" style="margin:12px;"><a href="http://api.51ditu.com/docs/mapsapi/help.html" target="_blank" style="color:#D01E14;font-weight:bolder;font-size:12px;">看不到地图请点这里</a></div>
            </div>
            <script language="javascript">
	var maps = new LTMaps( "maps" );
	var c = new LTSmallMapControl();
	maps.addControl(c);
	var point = new LTPoint( $detail[0] , $detail[1] );
	maps.centerAndZoom ( point , 2 );
	var marker = new LTMarker( point );
	maps.addOverLay( marker );
	var text = new LTMapText( marker );
	text.setLabel( "目标所在位置" ); 
	maps.addOverLay( text ); 
</script>
            <!--
EOT;
} 
print <<<EOT
--></td>
        </tr>
      </table>
<!--
EOT;
} 
print <<<EOT
-->
	  
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost">
        <tr> 
          <td class="top" height="17">信息发布</td>
        </tr>
        <tr>
          <td class="m"><div class="title"> 租售房子、求职招聘、找朋友、二手买卖就在本分类信息网！ </div>
            <div class="post"> <a href="$city_url/post.php?fid=$fid&city_id=$city_id&zone_id=$zone_id&street_id=$street_id"><img src="$webdb[www_url]/images/blue/freepost.gif" width="171" height="29" border="0"></a> 
            </div>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dr">
        <tr> 
          <td class="top">热门信息</td>
        </tr>
        <tr> 
          <td class="m">
            <script language="JavaScript">
<!--
document.write('<span id="side_hotinfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=hotinfo&fid=$fid&rows=$webdb[AdInfoListRow]&leng=$webdb[InfoListLeng]&iframeID=side_hotinfo" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dr">
        <tr> 
          <td class="top">推荐信息</td>
        </tr>
        <tr> 
          <td class="m"> 
            <script language="JavaScript">
<!--
document.write('<span id="side_cominfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=cominfo&fid=$fid&rows=$webdb[AdInfoListRow]&leng=$webdb[InfoListLeng]&iframeID=side_cominfo" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost">
        <tr> 
          <td class="top">联系我们</td>
        </tr>
        <tr> 
          <td class="m c">
            <!--
EOT;
$detail=explode("\r\n",$webdb[Info_contact]);
print <<<EOT
-->
            <div class="tel">电话:$detail[0]</div>
			<div class="email">邮箱:$detail[1]</div>
			<div class="msn">msn:$detail[2]</div>
			<div class="qq">QQ:$detail[3]</div>
             
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->