<!--
<?php
$layout=array();
$detail=explode("#",$webdb[sort_layout]);
foreach($detail AS $key=>$value){
	$detail2=explode(",",$value);
	foreach($detail2 AS $fup){
		if(!$Fid_db['name'][$fup]){
			continue;
		}
		$layout[$key][$fup]['name']=$Fid_db['name'][$fup];
		$layout[$key][$fup]['son']=$Fid_db[$fup];
		$ckfup[$fup]=1;
	}
}
foreach($Fid_db[0] AS $fup=>$name){
	if(!$ckfup[$fup]){
		$layout[0][$fup]['name']=$Fid_db['name'][$fup];
		$layout[0][$fup]['son']=$Fid_db[$fup];
	}
}
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="indexMain" align="center">
  <tr>
    <td class="L" width="75%" height="352" align="left" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="top"> </td>
          <td  class="RR"></td>
        </tr>
        <tr valign="top"> 
          <td colspan="2" height="300" class="m"> 
            <table border="0" cellspacing="9" cellpadding="0" width="100%">
              <tr align="left" valign="top"> 
<!--
EOT;
foreach($layout AS $key=>$array){
if($key>3)break;
print <<<EOT
-->

                <td width="25%" height="200">
<!--
EOT;
foreach($array AS $fup=>$rs){
$url=get_info_url('',$fup,$city_id);
$color=$Fid_db[ifcolor][$fup]?"color:red;":'';
print <<<EOT
-->
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="sort_name">
                    <tr>
                      <td class="bigname"><a href="$url" style="$color">$rs[name]</a></td>
                    </tr>
                    <tr>
                      <td class="samllname">
                  <!--
EOT;
$i=0;
foreach($rs['son'] AS $fid=>$name ){
$i++;
if($webdb[Info_showsortnum]>0&&$i>$webdb[Info_showsortnum]){break;}
$InfoNum[$fid]=intval($InfoNum[$fid]);
$url=get_info_url('',$fid,$city_id);
$color=$Fid_db[ifcolor][$fid]?"color:red;":'';
print <<<EOT
-->
                   <a href="$url" style="$color">$name</a> ({$InfoNum[$fid]})<br>
                  <!--
EOT;
}print <<<EOT
--></td>
                    </tr>
                  </table>
 <!--
EOT;
}print <<<EOT
-->
                </td>
 <!--
EOT;
}print <<<EOT
-->
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td class="R" width="25%" height="152" align="left" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dr">
        <tr>
          <td class="top">焦点信息</td>
        </tr>
        <tr>
          <td class="m"><SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="adinfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=adinfo&fid=-1&rows=$webdb[AdInfoIndexRow]&leng=$webdb[AdInfoIndexLeng]&iframeID=adinfo" width=0 height=0></iframe></div>');
//-->
</SCRIPT></td>
        </tr>
      </table>
      <!--
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost">
        <tr> 
          <td class="top">信息发布</td>
        </tr>
        <tr>
          <td class="m"><div class="title"> 租售房子、求职招聘、找朋友、二手买卖就在本分类信息网！ </div>
            <div class="post"> <a href="$city_url/post.php" target="_blank"><img src="$webdb[www_url]/images/blue/freepost.gif" width="171" height="29" border="0"></a> 
            </div>
          </td>
        </tr>
      </table>
      -->
      <div class="ad_show">$label[abc_ads1]</div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dr">
        <tr> 
          <td class="top">最新信息</td>
        </tr>
        <tr> 
          <td class="m"><SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="allnewinfo">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$city_url/job.php?job=allnewinfo&rows=$webdb[AdInfoIndexRow]&leng=$webdb[AdInfoIndexLeng]&iframeID=allnewinfo" width=0 height=0></iframe></div>');
//-->
</SCRIPT></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablepost">
        <tr> 
          <td class="top">联系我们</td>
        </tr>
        <tr> 
          <td class="m c"><!--
EOT;
$detail=explode("\r\n",$webdb[Info_contact]);
print <<<EOT
-->
            <div class="tel">电话:$detail[0]</div>
			<div class="email">邮箱:$detail[1]</div>
			<div class="msn">msn:$detail[2]</div>
			<div class="qq">QQ:$detail[3]</div>
             
          </td>
        </tr>
      </table>
    <div class="ad_show">$label[abc_ads2]</div></td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:0px;" class="MainTable">
  <tr> 
    <td height="40" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">友情链接</span> 
			<span class="more"><a href="$webdb[www_url]/do/friendlink.php?job=apply" target="_blank">申请链接</a></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <div class="imgfriendlink"> 
<!--
EOT;
if(count($friendlinkDB[1])&&count($friendlink_DB[$city_id][1])) $array = $friendlinkDB[1]+$friendlink_DB[$city_id][1];
elseif(count($friendlinkDB[1])) $array = $friendlinkDB[1];
else $array = $friendlink_DB[$city_id][1];
foreach($array AS $rs){
print <<<EOT
-->
              <A HREF="$rs[url]" target=_blank><img alt="名称:$rs[name]\r\n描述:$rs[descrip]" src="$rs[logo]" width="88" height="31" border=0></A> 
              <!--
EOT;
}
print <<<EOT
-->
            </div>
            <div class="wordfriendlink"> 
<!--
EOT;
if(count($friendlinkDB[0])&&count($friendlink_DB[$city_id][0])) $array = $friendlinkDB[0]+$friendlink_DB[$city_id][0];
elseif(count($friendlinkDB[0])) $array = $friendlinkDB[0];
else $array = $friendlink_DB[$city_id][0];
foreach($array AS $rs){print <<<EOT
-->
              <A HREF="$rs[url]" target="_blank" title="描述:$rs[descrip]">$rs[name]</A>&nbsp; 
              <!--
EOT;
}
print <<<EOT
-->
            </div>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
