<!--
<?php
print <<<EOT
-->
 
<form action="?" method="post" name="form1" id="form1">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable mtop10">
    <tr> 
      <td class="tdR" colspan="2">

          请认真填写以下三项,以方便搜索引擎收录,从而更好的推广你的商铺!  
        

      </td>
    </tr>
    <tr> 
      <td class="tdL" width="21%">SEO标题:</td>
      <td class="tdR" width="79%"> 
      

          <input type="text" name="metatitle" size="80" value="$conf[metatitle]">
        

      </td>
    </tr>
    <tr> 
      <td class="tdL" width="21%">SEO关键字:</td>
      <td class="tdR" width="79%"> 
       

          <input type="text" name="metakeywords" size="80" value="$conf[metakeywords]">
       

      </td>
    </tr>
    <tr> 
      <td class="tdL" width="21%">SEO描述:</td>
      <td class="tdR" width="79%"> 
        <div> 
          <input type="text" name="metadescription" size="80" value="$conf[metadescription]">
        </div>
      </td>
    </tr>
    <tr> 
      <td class="tdL" width="21%"><br/>
      </td>
      <td class="tdR" width="79%"> 
        <input type="submit" name="button7" id="button11" value="提交" onclick="setindex_left_right()" />
        <input name="atn" type="hidden" id="atn3" value="$atn" />
        <input name="step" type="hidden" id="step3" value="1" />
        <input name="uid" type="hidden" id="uid3" value="$uid" />
      </td>
    </tr>
  </table>
</form>
<!--
EOT;
?>
-->