<!--
<?php
print <<<EOT
-->

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work" method="post" action="$admin_path&job=work">
    <tr align="center" class="head"> 
      <td width="6%">ID</td>
      <td width="28%">标 题</td>
	  <td width="10%">所在城市</td>
      <td width="10%">发布者</td>
      <td width="11%">所在栏目</td>
      <td width="4%">点击</td>
      <td width="6%">发表日期</td>
      <td width="6%">审核</td>
      <td width="6%">推荐</td>      
      <td width="10%">修改/删除</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor="#FFFFFF"> 
      <td align="center">$rs[id]</td>
      <td > 
        <input type="checkbox" name="listdb[{$rs[id]}]" value="$rs[title]">
        <a href="$rs[url]" target='_blank'  style="color:$rs[titlecolor];">$rs[title]</a> 
        (ip:{$rs[ip]})</td>
	  <td align="center">$rs[city]</td>		
      <td align="center"><a href="$admin_path&job=$job&type=username&keyword=$rs[username]">$rs[username]</a></td>
      <td align="center"><a href="$admin_path&job=list&fid=$rs[fid]">$rs[fname]</a></td>
      <td align="center">$rs[hits]</td>
      <td align="center">$rs[posttime]</td>
      <td align="center">$rs[ischeck]</td>
      <td align="center">$rs[iscom]</td>	  
      <td align="center"><a href="$webdb[www_url]/post.php?job=edit&fid=$rs[fid]&id=$rs[id]" target=_blank>修改</a>/<a href="$Murl/post.php?action=del&id=$rs[id]&fid=$rs[fid]"  target=_blank>删除</a></td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="10"> {$showpage}</td>
    </tr>
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="10"> <a href="#" onClick="CheckAll('all')">全选</a>/<a href="#" onClick='CheckAll()'>反选</a> 
        <input type="button" name="Submit2" value="审核操作" onclick="postdo('yz')">
        <input type="button" name="Submit42223" value="推荐操作" onclick="postdo('com')">
        <input type="button" name="Submit4" value="置顶操作" onclick="postdo('top')">
        <input type="button" name="Submit42" value="扣分操作" onClick="postdo('punish')">
        <input type="button" name="Submit422" value="提前" onclick="postdo('front')">
        <input type="button" name="Submit4222" value="沉底" onclick="postdo('bottom')">
        <input type="button" name="Submit42222" value="移动" onClick="postdo('move')">
        <input type="button" name="Submit3" value="删除" onclick="postdo('delete')">
        <input type="hidden" name="jobs" value="0">
      </td>
    </tr>
  </form>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
function postdo(va){
	document.form_work.jobs.value=va
	document.form_work.submit();
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT><br>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr>
    <td class="head">相关选项</td>
  </tr>
  <tr>
    <td align="center"> 
      <input type="button" name="Submit" value="所有" onclick="window.location.href='$admin_path&job=list'">
      <input type="button" name="Submit6" value="已审核" onclick="window.location.href='$admin_path&job=list&fid=$fid&type=yz'">
      <input type="button" name="Submit5" value="未审核" onclick="window.location.href='$admin_path&job=list&fid=$fid&type=unyz'">
      <input type="button" name="Submit52" value="精华" onclick="window.location.href='$admin_path&job=list&fid=$fid&type=levels'">
      <input type="button" name="Submit522" value="非精华" onclick="window.location.href='$admin_path&job=list&fid=$fid&type=unlevels'">
	  $sort_fid
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="$admin_path&job=$job">
    <tr class="head"> 
      <td><font color="#FFFFFF">内容搜索</font></td>
    </tr>
    <tr> 
      <td align="center"> 关键字 
        <input type="text" name="keyword">
        <select name="type">
          <option value="title">标题名称</option>
          <option value="id">ID</option> 
          <option value="username">发布者</option>
        </select>
        <input type="submit" name="Submit7" value="提交">
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
 